openapi: 3.2.0
info:
  title: TiDB Cloud Data Service OPEN Chat2 Query API
  description: '# Overview


    The TiDB Cloud Data Service API provides a RESTful interface for programmatically managing administrative objects within the TiDB Cloud Data Service.'
  version: v1beta1
servers:
- url: https://dataservice.tidbapi.com
tags:
- name: Chat2Query
paths:
  /v1beta1/dataApps/{dataAppId}/chat2querySettings:
    get:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/chat2querySettings'"
      summary: Get Chat2Query Data App settings by ID
      description: With this endpoint, you can get the settings of a Chat2Query Data App, such as `name`, `llmApiKey`, `languageCode`, and `llmModel`. To get basic information, such as `version`, `projectId`, and `clusterIds`, use the Get a Data App by ID endpoint instead.
      operationId: DataApp_GetChat2QuerySettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Chat2QuerySettingsRes'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      tags:
      - Chat2Query
    patch:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n --request PATCH \\\n --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/chat2querySettings' \\\n --header 'Content-Type: application/json' \\\n --data-raw '{\n    \"llmModel\": \"gpt-4\", \n    \"llmApiKey\": \"sk-projxxxx\", \n    \"languageCode\": \"English\" \n  }'"
      summary: Update Chat2Query Data App settings by ID
      description: With this endpoint, you can update the `llmApiKey`, `languageCode`, or `llmModel` settings of a Chat2Query Data App. To update the version, name, or description, use the Update a Data App endpoint instead.
      operationId: DataApp_UpdateChat2QuerySettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Chat2QuerySettingsRes'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      tags:
      - Chat2Query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                llmApiKey:
                  type: string
                  description: The access key required to use your large language model (LLM) service. Leaving this blank limits you to 100 queries per day. To bypass the query limit, specify your access key of [OpenAI models](https://platform.openai.com/docs/models) in the `sk-xxxx` format.
                  required:
                  - llmApiKey
                languageCode:
                  type: string
                  description: 'The language to use for this Chat2Query Data App. Value options: `"English"` or `"Chinese"`.'
                  required:
                  - languageCode
                llmModel:
                  type: string
                  description: 'The LLM model to use for this Chat2Query Data App.

                    **Note:** You cannot use the `gpt-4` or `gpt-4o` model without a valid `llmApiKey`. Value options: `gpt-4`, `gpt-4o`, `gpt-4o-mini`.'
                  required:
                  - llmModel
              title: Define your fields as needed for updating a Chat2Query App Settings
        description: 'To update the settings of a Chat2Query App, specify the following fields as needed:'
        required: true
components:
  schemas:
    v1beta1Chat2QuerySettingsRes:
      type: object
      properties:
        name:
          type: string
          description: The unique identifier for the Chat2Query Data App settings, which is generated by the API and follows the format `dataApps/{data_app}/chat2querySettings`.
        llmApiKey:
          type: string
          description: The access key required to use your large language model (LLM) service.
          required:
          - llmApiKey
        languageCode:
          type: string
          description: The language to use for this Chat2Query Data App.
          required:
          - languageCode
        llmModel:
          type: string
          description: The LLM model to use for this Chat2Query Data App.
          required:
          - llmModel
      required:
      - llmApiKey
      - languageCode
      - llmModel
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
x-tagGroups:
- name: Endpoints
  tags:
  - Data App
  - Data Source
  - Endpoint
  - Deployment
  - Data API Key
  - OpenAPI Specification
