openapi: 3.2.0
info:
  title: TiDB Cloud Starter and Essential Export API
  description: '*TiDB Cloud API is in beta.*


    This API manages TiDB Cloud Starter and TiDB Cloud Essential instances.'
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/v1beta1
tags:
- name: Export
paths:
  /clusters/{clusterId}/exports:
    get:
      summary: List export tasks for a TiDB Cloud Starter or Essential instance
      operationId: ExportService_ListExports
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListExportsResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: clusterId
        description: The ID of the TiDB Cloud Starter or Essential instance to list export tasks for.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: The maximum number of exports to return. If not specified, at most 10 exports will be returned. The maximum value is `100`. Values greater than `100` are set to `100`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 100
          minimum: 1
      - name: pageToken
        description: 'The pagination token received from a previous [List export tasks](#tag/Export/operation/ExportService_ListExports) request. Use this token to retrieve the next page of results.


          **Note**: When paginating, all other parameters must match the original request.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'Specifies the sorting order of results. Use a comma-separated list of field names, optionally appending `desc` for descending order. For example, `createTime desc`. By default, fields are sorted in ascending order.


          Supported field: `createTime`.'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"exportOptions\": {\n    \"fileType\": \"PARQUET\",\n    \"filter\": {\n      \"table\": {\n        \"patterns\": [\n            \"test.*\"\n        ]\n      }\n    },\n    \"parquetFormat\": {\n      \"compression\": \"GZIP\"\n    }\n  },\n  \"target\": {\n    \"type\": \"LOCAL\"\n  }\n}'"
    post:
      summary: Create an export task
      operationId: ExportService_CreateExport
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Export'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: clusterId
        description: The ID of the TiDB Cloud Starter or Essential instance.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"exportOptions\": {\n    \"fileType\": \"PARQUET\",\n    \"filter\": {\n      \"table\": {\n        \"patterns\": [\n            \"test.*\"\n        ]\n      }\n    },\n    \"parquetFormat\": {\n      \"compression\": \"GZIP\"\n    }\n  },\n  \"target\": {\n    \"type\": \"LOCAL\"\n  }\n}'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportServiceCreateExportBody'
        required: true
  /clusters/{clusterId}/exports/{exportId}:
    get:
      summary: Get details of an export task
      operationId: ExportService_GetExport
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Export'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: clusterId
        description: The ID of the TiDB Cloud Starter or Essential instance.
        in: path
        required: true
        schema:
          type: string
      - name: exportId
        description: The ID of the export task to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: 'curl --location ''https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    delete:
      summary: Delete an export task
      operationId: ExportService_DeleteExport
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Export'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: clusterId
        description: The ID of the TiDB Cloud Starter or Essential instance.
        in: path
        required: true
        schema:
          type: string
      - name: exportId
        description: The ID of the export task to delete.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: 'curl --location --request DELETE ''https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
  /clusters/{clusterId}/exports/{exportId}:cancel:
    post:
      summary: Cancel an export task
      operationId: ExportService_CancelExport
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Export'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: clusterId
        description: The ID of the TiDB Cloud Starter or Essential instance.
        in: path
        required: true
        schema:
          type: string
      - name: exportId
        description: The ID of the export task to cancel.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: 'curl --location --request POST ''https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}:cancel'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
components:
  schemas:
    v1beta1AzureBlobTarget:
      type: object
      properties:
        authType:
          description: The authentication method for accessing Azure Blob Storage.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportAzureBlobAuthTypeEnum'
        sasToken:
          type: string
          description: The Shared Access Signature (SAS) token for accessing Azure Blob Storage.
        uri:
          type: string
          description: The Azure Blob URI of the export target, in the format of `azure://<account>.blob.core.windows.net/<container>/<path>` or `https://<account>.blob.core.windows.net/<container>/<path>`.
      required:
      - authType
      - uri
    v1beta1S3Target:
      type: object
      properties:
        uri:
          type: string
          description: The S3 URI of the export target.
        authType:
          description: The authentication method for accessing the S3 bucket.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportS3AuthTypeEnum'
        accessKey:
          description: The AWS access key credentials used for access.
          allOf:
          - $ref: '#/components/schemas/v1beta1S3TargetAccessKey'
        roleArn:
          type: string
          description: The AWS IAM role ARN used for access.
      required:
      - authType
    googlerpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The error code returned with this error.
        message:
          type: string
          description: The error message returned with this error.
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
          description: A list of messages with additional error details.
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    v1beta1ExportS3AuthTypeEnum:
      type: string
      enum:
      - ROLE_ARN
      - ACCESS_KEY
      description: " - ROLE_ARN: The access method is role arn.\n - ACCESS_KEY: The access method is access key."
    v1beta1ExportOptionsFilter:
      type: object
      properties:
        sql:
          type: string
          description: Filters the exported data with the SQL statement.
        table:
          description: Filters the exported data with table filter patterns.
          allOf:
          - $ref: '#/components/schemas/ExportOptionsFilterTable'
    ExportServiceCreateExportBody:
      type: object
      properties:
        exportOptions:
          description: The configuration options for the export task.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportOptions'
        target:
          description: The destination configuration for where the exported data is stored.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportTarget'
        displayName:
          type: string
          default: SNAPSHOT_{snapshot_time}
          description: The display name of the export task.
    v1beta1ExportAzureBlobAuthTypeEnum:
      type: string
      enum:
      - SAS_TOKEN
      description: ' - SAS_TOKEN: The access method is sas token.'
    ExportOptionsParquetFormat:
      type: object
      properties:
        compression:
          description: The Parquet compression algorithm.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportParquetCompressionTypeEnum'
    v1beta1GCSTarget:
      type: object
      properties:
        uri:
          type: string
          description: The Google Cloud Storage URI of the export target.
        authType:
          description: The authentication method for accessing Google Cloud Storage.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportGcsAuthTypeEnum'
        serviceAccountKey:
          type: string
          description: The service account key for accessing Google Cloud Storage.
      required:
      - uri
      - authType
    v1beta1OSSTargetAccessKey:
      type: object
      properties:
        id:
          type: string
          description: The AccessKey ID for accessing Alibaba Cloud OSS.
        secret:
          type: string
          description: The AccessKey secret for accessing Alibaba Cloud OSS.
      required:
      - id
      - secret
    v1beta1ExportFileTypeEnum:
      type: string
      enum:
      - SQL
      - CSV
      - PARQUET
      default: CSV
      description: " - SQL: SQL type.\n - CSV: CSV type.\n - PARQUET: PARQUET type."
    v1beta1S3TargetAccessKey:
      type: object
      properties:
        id:
          type: string
          description: The access key ID for accessing the S3 bucket.
        secret:
          type: string
          description: The secret access key for accessing the S3 bucket.
      required:
      - id
      - secret
    v1beta1ExportOptions:
      type: object
      properties:
        fileType:
          description: The export file type.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportFileTypeEnum'
        compression:
          description: The compression algorithm of the export file.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportCompressionTypeEnum'
        filter:
          description: Defines which tables to include in the export. If not specified, all tables in the TiDB Cloud Starter or Essential instance are exported.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportOptionsFilter'
        csvFormat:
          description: The format specification for the CSV file.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportOptionsCSVFormat'
        parquetFormat:
          description: The format specification for the Parquet file.
          allOf:
          - $ref: '#/components/schemas/ExportOptionsParquetFormat'
    v1beta1Export:
      type: object
      properties:
        exportId:
          type: string
          description: The unique ID of the export task.
          readOnly: true
        name:
          type: string
          description: The unique identifier for the export task.
          readOnly: true
        clusterId:
          type: string
          description: The ID of the TiDB Cloud Starter or Essential instance to which the export task belongs.
        createdBy:
          type: string
          description: The email address of the user who create the export task.
          readOnly: true
        state:
          description: The state of the export task.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportStateEnum'
        exportOptions:
          description: The configuration options for the export task.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportOptions'
        target:
          description: The destination configuration for where the exported data is stored.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportTarget'
        reason:
          type:
          - string
          - 'null'
          description: An error message if the export task failed. Otherwise, empty.
          readOnly: true
        displayName:
          type: string
          default: SNAPSHOT_{snapshot_time}
          description: The display name of the export task.
        createTime:
          type: string
          format: date-time
          description: The timestamp when the export task was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        updateTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp when the export task was last updated, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        completeTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp when the export task was completed, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        snapshotTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp when the data snapshot was captured for this export.
          readOnly: true
        expireTime:
          type:
          - string
          - 'null'
          format: date-time
          description: The timestamp when the export will expire and become unavailable.
          readOnly: true
      description: Message for export task.
      required:
      - clusterId
    v1beta1ExportStateEnum:
      type: string
      enum:
      - RUNNING
      - SUCCEEDED
      - FAILED
      - CANCELED
      - DELETED
      - EXPIRED
      description: "Export State.\n\n - RUNNING: The export task is being created.\n - SUCCEEDED: The export task is success.\n - FAILED: The export task is failed.\n - CANCELED: The export task is canceled.\n - DELETED: The export task is deleted.\n - EXPIRED: The export is expired, only local export will be expired."
    v1beta1ListExportsResponse:
      type: object
      properties:
        exports:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v1beta1Export'
          description: A list of export tasks that match the query.
        nextPageToken:
          type: string
          description: The token to retrieve the next page of results. Use this value as the `pageToken` parameter in the next request. This field is empty when there are no more pages.
        totalSize:
          type: integer
          format: int64
          description: The total number of exports that match the query.
    v1beta1ExportTargetTypeEnum:
      type: string
      enum:
      - LOCAL
      - S3
      - GCS
      - AZURE_BLOB
      - OSS
      default: LOCAL
      description: " - LOCAL: Local target.\n - S3: S3 target.\n - GCS: gcs target.\n - AZURE_BLOB: azure blob target.\n - OSS: OSS target."
    v1beta1ExportCompressionTypeEnum:
      type: string
      enum:
      - GZIP
      - SNAPPY
      - ZSTD
      - NONE
      default: GZIP
      description: " - GZIP: Gzip compression.\n - SNAPPY: Snappy compression.\n - ZSTD: Zstd compression.\n - NONE: No compression."
    v1beta1ExportTarget:
      type: object
      properties:
        type:
          description: The export target.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportTargetTypeEnum'
        s3:
          description: The configuration details for exporting data to Amazon S3. This is required when `type` is `S3`.
          allOf:
          - $ref: '#/components/schemas/v1beta1S3Target'
        gcs:
          description: The configuration details for exporting data to Google Cloud Storage. This is required when `type` is `GCS`.
          allOf:
          - $ref: '#/components/schemas/v1beta1GCSTarget'
        azureBlob:
          description: The configuration details for exporting data to Azure Blob Storage. This is required when `type` is `AZURE_BLOB`.
          allOf:
          - $ref: '#/components/schemas/v1beta1AzureBlobTarget'
        oss:
          description: The configuration details for exporting data to Alibaba Cloud Object Storage Service (OSS). This is required when `type` is `OSS`.
          allOf:
          - $ref: '#/components/schemas/v1beta1OSSTarget'
    v1beta1ExportParquetCompressionTypeEnum:
      type: string
      enum:
      - GZIP
      - SNAPPY
      - ZSTD
      - NONE
      default: ZSTD
      description: " - GZIP: The parquet compression type is GZIP.\n - SNAPPY: The parquet compression type is SNAPPY.\n - ZSTD: The parquet compression type is ZSTD.\n - NONE: No compression."
    v1beta1ExportOSSAuthTypeEnum:
      type: string
      enum:
      - ACCESS_KEY
      description: ' - ACCESS_KEY: The access method is access key.'
    v1beta1ExportGcsAuthTypeEnum:
      type: string
      enum:
      - SERVICE_ACCOUNT_KEY
      description: ' - SERVICE_ACCOUNT_KEY: The access method is service account key.'
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: A URL or resource name that uniquely identifies the type of the serialized protocol buffer message.
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    ExportOptionsFilterTable:
      type: object
      properties:
        patterns:
          type: array
          items:
            type: string
          description: A list of [table-filter](https://docs.pingcap.com/tidb/stable/table-filter/#syntax) patterns.
        where:
          type: string
          description: Filters the exported tables with the `WHERE` condition.
    v1beta1OSSTarget:
      type: object
      properties:
        uri:
          type: string
          description: The Alibaba Cloud OSS URI of the export target.
        authType:
          description: The authentication method for accessing Alibaba Cloud OSS.
          allOf:
          - $ref: '#/components/schemas/v1beta1ExportOSSAuthTypeEnum'
        accessKey:
          description: The Alibaba Cloud OSS access key credentials used for access.
          allOf:
          - $ref: '#/components/schemas/v1beta1OSSTargetAccessKey'
      required:
      - uri
      - authType
    v1beta1ExportOptionsCSVFormat:
      type: object
      properties:
        separator:
          type: string
          default: ','
          description: 'The character used to separate values in the CSV file.

            It is recommended to use uncommon separators like `|+|` to avoid conflicts.'
        delimiter:
          type:
          - string
          - 'null'
          default: '"'
          description: The character used to enclose string values in the CSV file.
        nullValue:
          type:
          - string
          - 'null'
          default: \N
          description: The string representation of NULL values in the CSV file.
        skipHeader:
          type: boolean
          default: false
          description: Indicates whether to omit the header row in exported CSV files.
