openapi: 3.2.0
info:
  title: TiDB Cloud Backup API
  description: '*TiDB Cloud API is in beta.*


    # Overview


    The TiDB Cloud API is a REST interface that provides you with programmatic access to manage administrative objects within TiDB Cloud.'
  version: v1-beta
  x-logo:
    url: https://download.pingcap.com/tidbcloud-logo-for-api-docs.png
    altText: TiDB Cloud Logo
    href: https://docs.pingcap.com/tidbcloud/
servers:
- url: https://api.tidbcloud.com
tags:
- name: Backup
  description: 'Create, get, modify, and delete backups for TiDB clusters.


    For TiDB Cloud Starter instances, you cannot create or manage backups via API. You can use Dumpling to export your data as backups.'
paths:
  /api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups:
    get:
      summary: List all backups for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: ListBackUpOfCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the backup. It is generated by TiDB Cloud.
                        name:
                          type: string
                          example: backup-1
                          description: The name of the backup.
                        description:
                          type: string
                          example: backup for cluster upgrade in 2022/06/07
                          description: The description of the backup. It is specified by the user when taking a manual type backup. It helps you add additional information to the backup.
                        type:
                          example: MANUAL
                          description: The type of backup. TiDB Cloud only supports manual and auto backup. For more information, see [TiDB Cloud Documentation](https://docs.pingcap.com/tidbcloud/backup-and-restore#backup).
                          type: string
                          enum:
                          - MANUAL
                          - AUTO
                        create_timestamp:
                          type: string
                          format: date-time
                          example: '2020-01-01T00:00:00Z'
                          description: The creation time of the backup in UTC. The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.
                        size:
                          type: string
                          format: uint64
                          example: '102400'
                          description: The bytes of the backup.
                        status:
                          example: SUCCESS
                          description: The status of backup.
                          type: string
                          enum:
                          - PENDING
                          - RUNNING
                          - FAILED
                          - SUCCESS
                      description: The item of backup list.
                      title: ListBackupItem
                    description: The items of all backups.
                  total:
                    type: integer
                    format: int64
                    example: 10
                    description: The total number of backups in the project.
                description: The response for listing backups of a cluster.
                title: ListBackupOfClusterResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: page
        description: The number of pages.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: page_size
        description: The size of a page.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups?page=1&page_size=10'"
    post:
      summary: Create a backup for a cluster
      description: '- For TiDB Cloud Dedicated clusters, you can create as many manual backups as you need.

        - For TiDB Cloud Starter instances, you cannot create backups via API. You can use Dumpling to export your data as backups.'
      operationId: CreateBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the backup.
                description: This response for creating a MANUAL type backup.
                title: CreateBackupResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster that you want to take a manual backup. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"backup-1\",\"description\":\"backup-1\"}'"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: backup-1
                  description: Specify the name for a manual backup. It is recommended that you use a unique name, so that it is easy to distinguish the backup when you query the backups.
                description:
                  type:
                  - string
                  - 'null'
                  example: backup-1
                  description: The description of the backup. It helps you add additional information to the backup. Allows up to 256 characters.
              description: This request for creating a MANUAL type backup.
              title: CreateBackupReq
              required:
              - name
        required: true
  /api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}:
    get:
      summary: Get a backup for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: GetBackupOfCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the backup.
                  name:
                    type: string
                    example: backup-1
                    description: The name of the backup.
                  description:
                    type: string
                    example: backup for cluster upgrade in 2022/06/07
                    description: The description of the backup. It is specified by the user when taking a manual type backup. It helps you add additional information to the backup.
                  type:
                    example: MANUAL
                    description: The type of backup. TiDB Cloud only supports manual and auto backup. For more information, see [TiDB Cloud Documentation](https://docs.pingcap.com/tidbcloud/backup-and-restore#backup).
                    type: string
                    enum:
                    - MANUAL
                    - AUTO
                  create_timestamp:
                    type: string
                    format: date-time
                    example: '2020-01-01T00:00:00Z'
                    description: The creation time of the backup in UTC. The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.
                  size:
                    type: string
                    format: uint64
                    example: '102400'
                    description: The bytes of the backup.
                  status:
                    example: SUCCESS
                    description: The status of backup.
                    type: string
                    enum:
                    - PENDING
                    - RUNNING
                    - FAILED
                    - SUCCESS
                description: This response for getting backup of a cluster.
                title: GetBackupOfClusterResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: backup_id
        description: The ID of the backup.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}"
    delete:
      summary: Delete a backup for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: DeleteBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: backup_id
        description: The ID of the backup. You can get the backup ID from the response of [List all backups for a cluster](#tag/Project/operation/ListBackUpOfCluster).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request DELETE \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}"
x-tagGroups:
- name: Endpoints
  tags:
  - Project
  - Cluster
  - Backup
  - Import
  - Restore
