openapi: 3.2.0
info:
  title: Pingcap Billing API
  version: v1beta1
  contact: {}
  description: 'Operations tagged Billing across 2 of this provider''s published API definitions: pingcap-tidb-cloud-billing-v1beta1-openapi-original.json, tidb-cloud-msp-v1beta1-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://billing.tidbapi.com/v1beta1
- url: https://msp.tidbapi.com/v1beta1/msp
tags:
- name: Billing
paths:
  /bills/{billedMonth}:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://billing.tidbapi.com/v1beta1/bills/{billedMonth}'"
      description: This endpoint retrieves the bill for the given month of a specific organization. You can query a bill up to 6 months prior to the current month. The bill is returned in JSON format.To use this resource, the requesting API Key must have the Organization Billing Admin or Organization Owner role.
      tags:
      - Billing
      summary: Return organization monthly bills
      parameters:
      - description: The month of this bill happens for the specified organization, format is YYYY-MM, for example '2023-08'.
        name: billedMonth
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms.BillsExplorer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getBillsByBilledMonth
      x-operation-id-source: derived
    servers:
    - url: https://billing.tidbapi.com/v1beta1
  /billsCostExplorer:
    post:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url 'https://billing.tidbapi.com/v1beta1/billsCostExplorer'"
      description: 'This endpoint executes a cost explorer query and returns the usage details. Cost Explorer query:'
      tags:
      - Billing
      summary: Return the usage details according to a cost explorer query
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms.BillsCostExplorer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/forms.TrendsInput'
        description: args
        required: true
      operationId: postBillsCostExplorer
      x-operation-id-source: derived
    servers:
    - url: https://billing.tidbapi.com/v1beta1
  /billsCostExplorer/args:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://billing.tidbapi.com/v1beta1/billsCostExplorer/args'"
      description: This endpoint retrieves the basic info for a specific organization, including service info, cloud provider info, project info, and cluster info.
      tags:
      - Billing
      summary: Return basic info of a specific organization, which contains the key info to…
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms.TrendsArgs'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getBillsCostExplorerArgs
      x-operation-id-source: derived
    servers:
    - url: https://billing.tidbapi.com/v1beta1
  /billsDetails/{billedMonth}:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://billing.tidbapi.com/v1beta1/billsDetails/{billedMonth}'"
      description: This endpoint retrieves the bill for the given month of a specific organization with daily usage details. You can query a bill up to 6 months prior to the current month. The bill is returned in JSON format. To use this resource, the requesting API Key must have the Organization Billing Admin or Organization Owner role.
      tags:
      - Billing
      summary: Return the monthly bill of the organization with daily usage details
      parameters:
      - description: The month of this bill happens for the specified organization. The format is `YYYY-MM`, for example '2024-05'.
        name: billedMonth
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms.BillsDetails'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getBillsDetailsByBilledMonth
      x-operation-id-source: derived
    servers:
    - url: https://billing.tidbapi.com/v1beta1
  /credits:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://msp.tidbapi.com/v1beta1/msp/credits'"
      description: This endpoint retrieves the credits applied to a specific MSP.
      tags:
      - Billing
      summary: Return credits applied to a specific MSP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/forms.MspCredit'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getCredits
      x-operation-id-source: derived
    servers:
    - url: https://msp.tidbapi.com/v1beta1/msp
  /discounts/:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://msp.tidbapi.com/v1beta1/msp/discounts'"
      description: This endpoint retrieves the discount applied to a specific MSP.
      tags:
      - Billing
      summary: Return discounts applied to a specific MSP
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/forms.MspDiscount'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getDiscounts
      x-operation-id-source: derived
    servers:
    - url: https://msp.tidbapi.com/v1beta1/msp
  /mspCustomerBills/{billedMonth}/mspCustomers/{mspCustomerId}:
    get:
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n --request GET \\\n --url 'https://msp.tidbapi.com/v1beta1/msp/mspCustomerBills/{YYYY-MM}/mspCustomers/{mspCustomerId}'"
      description: This endpoint retrieves the bill for the given month of a specific end customer of MSP. You can query a bill up to 6 months prior to the current month. The bill is returned in JSON format.
      tags:
      - Billing
      summary: Return monthly bills for a specific end customer of MSP
      parameters:
      - description: The month of this bill happens for the specified organization. The format is YYYY-MM, for example, '2023-08'.
        name: billedMonth
        in: path
        required: true
        schema:
          type: string
      - description: ID of the end customer of MSP.
        name: mspCustomerId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forms.BillsExplorer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/billing_errors.BaseError'
      operationId: getMspCustomerBillsByBilledMonthMspCustomersByMspCustomerId
      x-operation-id-source: derived
    servers:
    - url: https://msp.tidbapi.com/v1beta1/msp
components:
  schemas:
    forms.CostExplorerTrendsTimeGroup:
      type: string
      enum:
      - day
      - month
      - total
      x-enum-varnames:
      - CostExploreTrendsTimeGroupDay
      - CostExploreTrendsTimeGroupMonth
      - CostExploreTrendsTimeGroupTotal
    forms.TimeRange:
      type: object
      properties:
        endDate:
          description: End date of the time range.
          type: string
        startDate:
          description: Start date of the time range.
          type: string
    forms.Groups:
      type: object
      properties:
        groupBy:
          description: "Group cost explorer query results by category. The category includes:\n 1. \"service\": Group query results by service type\n 2. \"product\": Group query results by product type (TiDB Dedicated, TiDB Cloud Starter, or TiDB Cloud Essential)\n 3. \"project\": Group query results by Project IDs\n 4. \"cluster\": Group query results by Cluster IDs\n 5. \"provider\": Group query results by Cloud Provider\n 6. \"region\": Group query results by cloud provider region"
          type: array
          items:
            $ref: '#/components/schemas/forms.CostExplorerTrendsBreakdownKey'
        timeGranularity:
          description: "Time Granularity determines how the cost explorer query results are organized daily, monthly, or in total.\n 1. \"day\": Query results are organized daily\n 2. \"month\": Query results are organized monthly\n 3. \"total\": Query results are organized in total"
          allOf:
          - $ref: '#/components/schemas/forms.CostExplorerTrendsTimeGroup'
    forms.SummaryByProject:
      type: object
      properties:
        otherCharges:
          description: These charges occur not only within a project but also across the entire organization.
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsOtherName'
        projects:
          description: The projects in the specified organization.
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsProjects'
    forms.BillsCostExplorer:
      type: object
      properties:
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        elements:
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsCostExplorerElements'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.CostExplorerTrendsBreakdownKey:
      type: string
      enum:
      - service
      - product
      - project
      - cluster
      - provider
      - region
      x-enum-varnames:
      - CostExploreTrendsBreakdownKeyService
      - CostExploreTrendsBreakdownKeyProduct
      - CostExploreTrendsBreakdownKeyProject
      - CostExploreTrendsBreakdownKeyCluster
      - CostExploreTrendsBreakdownKeyProvider
      - CostExploreTrendsBreakdownKeyRegion
    forms.CostExplorerService:
      type: object
      properties:
        category:
          description: 2nd level of service.
          type: string
        component:
          description: 3rd level of service.
          type: string
        product:
          description: 1st level of service.
          type: string
        service:
          type: string
    forms.BillsOtherName:
      type: object
      properties:
        chargeName:
          type: string
          example: Support Plan
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    billing_errors.BaseError:
      type: object
      properties:
        code:
          type: string
        error: {}
        msgPrefix:
          type: string
        status:
          type: integer
    forms.TrendsInput:
      type: object
      properties:
        filter:
          $ref: '#/components/schemas/forms.TrendsFilter'
        groups:
          $ref: '#/components/schemas/forms.Groups'
    forms.TrendsFilter:
      type: object
      properties:
        clusters:
          type: array
          items:
            type: string
        projects:
          type: array
          items:
            type: string
        providers:
          type: array
          items:
            $ref: '#/components/schemas/forms.CostExplorerProvider'
        services:
          type: array
          items:
            $ref: '#/components/schemas/forms.CostExplorerService'
        timeRange:
          $ref: '#/components/schemas/forms.TimeRange'
    forms.CostExplorerProvider:
      type: object
      properties:
        name:
          description: Name of Cloud provider.
          type: string
        regions:
          description: Name of region.
          type: array
          items:
            type: string
    forms.TrendsArgs:
      type: object
      properties:
        clusters:
          type: array
          items:
            $ref: '#/components/schemas/forms.ClusterOpenAPI'
        projects:
          type: array
          items:
            $ref: '#/components/schemas/forms.ProjectOpenAPI'
        providers:
          type: array
          items:
            $ref: '#/components/schemas/forms.Provider'
        services:
          description: 'The Identifier of TiDB Cloud services consists of 3 levels. For example, "service": "TiDB Dedicated - Node Compute - TiFlash" consists of the following 3 levels.'
          type: array
          items:
            $ref: '#/components/schemas/forms.CostExplorerService'
    forms.ProjectOpenAPI:
      type: object
      properties:
        id:
          type: string
          example: '0'
        name:
          type: string
        status:
          type: string
    forms.BillsOverview:
      type: object
      properties:
        billedMonth:
          description: The month in which this bill is generated for the specified organization.
          type: string
          example: 2023-09
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.BillsDetails:
      type: object
      properties:
        details:
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsDetail'
    forms.BillsServiceCosts:
      type: object
      properties:
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        serviceCosts:
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsServiceCosts'
        serviceName:
          description: The name of services provided by TiDB Cloud.
          type: string
          example: TiDB Dedicated
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.BillsCostExplorerBreakdown:
      type: object
      properties:
        billedDate:
          type: string
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        detailKey:
          type: string
        detailName:
          type: string
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.BillsProjects:
      type: object
      properties:
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        projectName:
          description: The name of a project in the specified organization.
          type: string
          example: prod-project
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.Provider:
      type: object
      properties:
        name:
          description: Name of the cloud provider
          type: string
        regions:
          description: Name of the region
          type: array
          items:
            type: string
    forms.BillsDetail:
      type: object
      properties:
        billedDate:
          description: The date when this bill happens.
          type: string
        clusterName:
          description: Name of the cluster.
          type: string
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        projectName:
          description: Name of the project.
          type: string
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        servicePathName:
          description: Name of the service.
          type: string
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.ClusterOpenAPI:
      type: object
      properties:
        ProjectID:
          type: string
          example: '0'
        id:
          type: string
          example: '0'
        name:
          type: string
        regionName:
          type: string
        status:
          type: string
    forms.BillsExplorer:
      type: object
      properties:
        overview:
          description: The overall information for a bill in the specified organization.
          allOf:
          - $ref: '#/components/schemas/forms.BillsOverview'
        summaryByProject:
          description: A breakdown of the bill by project.
          allOf:
          - $ref: '#/components/schemas/forms.SummaryByProject'
        summaryByService:
          description: A breakdown of the bill by service.
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsServiceCosts'
    forms.BillsCostExplorerElements:
      type: object
      properties:
        billedDate:
          type: string
        breakdown:
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsCostExplorerBreakdown'
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        discounts:
          description: The total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        runningTotal:
          description: The sum of services that the specified organization has consumed during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: string
          example: '0.00'
        totalCost:
          description: 'The total amount that the specified organization should pay for this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: string
          example: '0.00'
    forms.MspCredit:
      type: object
      properties:
        credit:
          description: The total amount of credit.
          type: number
          example: 1000
        creditCode:
          description: The code of a credit.
          type: string
          example: 498c7f44-656f-4944-b455-0695faa5d4f9
        expiryDate:
          description: Expired date of a credit.
          type: string
          example: '2023-12-01T00:00:00Z'
        remainingCredit:
          description: The remaining amount of a credit.
          type: number
          example: 1000
        services:
          description: The service to which a credit is applicable.
          type: string
          example: General Product
        startDate:
          description: Effective start date of a credit.
          type: string
          example: '2023-11-01T00:00:00Z'
        status:
          description: The status of a credit.
          type: string
          example: active
    forms.MspDiscount:
      type: object
      properties:
        description:
          description: The description of a discount.
          type: string
        discountCode:
          description: The code of a discount.
          type: string
          example: 498c7f44-656f-4944-b455-0695faa5d4f9
        expiryDate:
          description: Expired date of a credit.
          type: string
          example: '2023-12-01T00:00:00Z'
        percentageDiscount:
          description: The percentage is deducted from the original price. For example, a 20% discount on a $100 item would result in a discounted price of $80.
          type: string
          example: 20%
        services:
          description: The service to which a discount is applicable.
          type: string
          example: Node Compute, Changefeed,
        startDate:
          description: Effective start date of a credit.
          type: string
          example: '2023-11-01T00:00:00Z'
        status:
          description: The status of a discount.
          type: string
          example: valid
    forms.BillsServiceCosts_2:
      type: object
      properties:
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        discounts:
          description: Total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        runningTotal:
          description: The sum of services that the specified organization consumed in the period during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        serviceCosts:
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsServiceCosts_2'
        serviceName:
          description: The name of services provided by TiDB Cloud.
          type: string
          example: TiDB Dedicated
        totalCost:
          description: 'The total amount that the specified organization should pay toward this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: number
          example: 0
    forms.BillsOtherName_2:
      type: object
      properties:
        chargeName:
          type: string
          example: Support Plan
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        discounts:
          description: Total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        runningTotal:
          description: The sum of services that the specified organization consumed in the period during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        totalCost:
          description: 'The total amount that the specified organization should pay toward this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: number
          example: 0
    forms.SummaryByCustomer:
      type: object
      properties:
        customerID:
          description: The Organization ID of MSP
          type: integer
        mspCustomerBills:
          description: The bill generated for a specific MSP customer in the specified month.
          allOf:
          - $ref: '#/components/schemas/forms.BillsExplorer'
    forms.BillsProjects_2:
      type: object
      properties:
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        discounts:
          description: Total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        projectName:
          description: The name of a project in the specified organization.
          type: string
          example: prod-project
        runningTotal:
          description: The sum of services that the specified organization consumed in the period during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        totalCost:
          description: 'The total amount that the specified organization should pay toward this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: number
          example: 0
    forms.BillsOverview_2:
      type: object
      properties:
        billedMonth:
          description: The month in which this bill is generated for the specified organization.
          type: string
          example: 2023-09
        credits:
          description: The total credits held by the organization in this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        discounts:
          description: Total amount of discounts applied to this bill. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        runningTotal:
          description: The sum of services that the specified organization consumed in the period during this bill period. The value of this field is expressed in cents (100ths of one US Dollar).
          type: number
          example: 0
        totalCost:
          description: 'The total amount that the specified organization should pay toward this bill. The value of this field is expressed in cents (100ths of one US Dollar).

            `total_cost` = `running_total` - `discounts` - `credits`.'
          type: number
          example: 0
    forms.MspBills:
      type: object
      properties:
        overview:
          description: The overall information for a bill in the specified organization.
          allOf:
          - $ref: '#/components/schemas/forms.BillsOverview_2'
        summaryByCustomer:
          description: Month of bills happens to a specific MSP.
          type: array
          items:
            $ref: '#/components/schemas/forms.SummaryByCustomer'
        summaryByService:
          description: A breakdown of the bill by service.
          type: array
          items:
            $ref: '#/components/schemas/forms.BillsServiceCosts_2'
x-refined-from:
- pingcap-tidb-cloud-billing-v1beta1-openapi-original.json
- tidb-cloud-msp-v1beta1-openapi-original.json
