openapi: 3.2.0
info:
  title: TiDB Cloud Premium Instance API
  description: '*TiDB Cloud API is in beta.*


    This API manages TiDB Cloud Premium instances.'
  version: v1beta2
servers:
- url: https://cloud.tidbapi.com/v1beta2
tags:
- name: TiDB Cloud Premium Instance
  description: Manage the lifecycle and configuration of TiDB Cloud Premium instances, including passwords, CA certificates, and cloud provider information.
paths:
  /tidbs:
    get:
      summary: List TiDB Cloud Premium instances
      description: Lists all TiDB Cloud Premium instances in your organization. You can filter results by service plan, region, name, or ID.
      operationId: TidbService_ListTidbs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2ListTidbsResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: servicePlan
        description: 'The plan of the service. If specified, only TiDB Cloud Premium instances of the specified plan are returned.


          - `Premium`: [TiDB Cloud Premium](https://docs.pingcap.com/tidbcloud/select-cluster-tier/#tidb-cloud-premium)'
        in: query
        required: false
        schema:
          type: string
          enum:
          - Premium
      - name: regionIds
        description: A list of region IDs. If specified, only TiDB Cloud Premium instances in these regions are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: name
        description: The display name to filter by. If specified, only TiDB Cloud Premium instances whose display name contains this value are returned.
        in: query
        required: false
        schema:
          type: string
      - name: tags
        description: A list of tags. If specified, only TiDB Cloud Premium instances tagged with any of these values are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tidbIds
        description: A list of TiDB Cloud Premium instance IDs. If specified, only the ones matching these IDs are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: pageSize
        description: The maximum number of TiDB Cloud Premium instances to return. If not specified, at most 10 will be returned. The maximum value is `100`. Values greater than `100` are set to `100`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: '10'
      - name: pageToken
        description: 'The pagination token received from a previous [List TiDB Cloud Premium instances](#tag/TiDB-Instance/operation/TidbService_ListTidbs) request. Use this token to retrieve the next page of results.


          **Note**: When paginating, all other parameters must match the original request.'
        in: query
        required: false
        schema:
          type: string
      - name: skip
        description: The number of TiDB Cloud Premium instances to skip before returning results. If the value exceeds the total number of TiDB Cloud Premium instances, the response is `200` with an empty list and no `nextPageToken`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    post:
      summary: Create a TiDB Cloud Premium instance
      description: Creates a new TiDB Cloud Premium instance. If the `tidb.cloud/project` label is provided, the instance will be created in the specified project.
      operationId: TidbService_CreateTidb
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextgenv1beta2Tidb'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: validateOnly
        description: If set to `true`, the request is validated but not executed. Defaults to `false`.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"displayName\": \"my-tidb\",\n  \"regionId\": \"aws-us-west-2\",\n  \"maxRcu\": 20000,\n  \"servicePlan\": \"Premium\"\n}'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nextgenv1beta2Tidb'
        description: The TiDB Cloud Premium instance to create.
        required: true
  /tidbs/{tidbId}:
    get:
      summary: Get a TiDB Cloud Premium instance
      description: Retrieves details of a specific TiDB Cloud Premium instance.
      operationId: TidbService_GetTidb
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextgenv1beta2Tidb'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    delete:
      summary: Delete a TiDB Cloud Premium instance
      description: Deletes a TiDB Cloud Premium instance by `tidbId`.
      operationId: TidbService_DeleteTidb
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextgenv1beta2Tidb'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance to delete.
        in: path
        required: true
        schema:
          type: string
      - name: validateOnly
        description: If set to `true`, the request is validated but not executed. Defaults to `false`.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location --request DELETE ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
  /tidbs/{tidb.tidbId}:
    patch:
      summary: Update a TiDB Cloud Premium instance
      description: 'Updates the configuration of a specific TiDB Cloud Premium instance. You can modify the following fields: `displayName` and `maxRcu`.'
      operationId: TidbService_UpdateTidb
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nextgenv1beta2Tidb'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidb.tidbId
        description: The ID of the TiDB Cloud Premium instance to update.
        in: path
        required: true
        schema:
          type: string
      - name: validateOnly
        description: If set to `true`, the request is validated but not executed. Defaults to `false`.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: "curl --location --request PATCH 'https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"displayName\": \"my-updated-tidb\",\n  \"maxRcu\": 40000\n}'"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  example: foo-bar
                  description: The user-defined name of the TiDB Cloud Premium instance.
                  maxLength: 64
                  minLength: 4
                  pattern: ^[A-Za-z0-9][-A-Za-z0-9]{2,62}[A-Za-z0-9]$
                minRcu:
                  type: string
                  format: int64
                  description: 'Deprecated: min_rcu is now automatically managed.

                    Any value provided here will be ignored in favor of max(5000, max_rcu / 4).'
                  readOnly: true
                maxRcu:
                  type: string
                  format: int64
                  description: The maximum number of Request Capacity Units (RCUs) for the TiDB Cloud Premium instance.
              title: The TiDB Cloud Premium instance to update.
              required:
              - tidb
        description: The TiDB Cloud Premium instance to update.
        required: true
  /tidbs/{tidbId}:resetRootPassword:
    post:
      summary: Reset the root password of a TiDB Cloud Premium instance
      description: Sets a new password for the TiDB Cloud Premium instance's root user. The new password is not returned in the response for security reasons, so save your password in a secure location.
      operationId: TidbService_ResetRootPassword
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2ResetRootPasswordResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance for which to reset the root password.
        in: path
        required: true
        schema:
          type: string
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}:resetRootPassword' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"rootPassword\": \"your-new-password\"\n}'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidbServiceResetRootPasswordBody'
        required: true
  /tidbs/{tidbId}/cloudProviderInfo:
    get:
      summary: Get cloud provider information for a TiDB Cloud Premium instance
      description: Retrieves the TiDB Cloud account ID and external ID for the underlying cloud infrastructure of a specific TiDB Cloud Premium instance.
      operationId: TidbService_GetCloudProviderInfo
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2CloudProviderInfo'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance for which to retrieve cloud provider information.
        in: path
        required: true
        schema:
          type: string
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}/cloudProviderInfo'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
  /tidbs/{tidbId}/caCertificateUrl:
    get:
      summary: Get the CA certificate download URL for a TiDB Cloud Premium instance
      description: Retrieves the download URL for the CA certificate required to establish TLS (Transport Layer Security) connections to a specific TiDB Cloud Premium instance.
      operationId: TidbService_GetCaCertificateDownloadUrl
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2CaCertificateDownloadUrl'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance for which to retrieve the CA certificate.
        in: path
        required: true
        schema:
          type: string
      tags:
      - TiDB Cloud Premium Instance
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}/caCertificateUrl'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
components:
  schemas:
    nextgenv1beta2Tidb:
      type: object
      properties:
        name:
          type: string
          description: The unique identifier for the TiDB Cloud Premium instance, which is generated by the API and follows the format `tidbs/{tidbId}`.
          readOnly: true
        tidbId:
          type: string
          description: The ID of the TiDB Cloud Premium instance.
          readOnly: true
        displayName:
          type: string
          example: foo-bar
          description: The user-defined name of the TiDB Cloud Premium instance.
          maxLength: 64
          minLength: 4
          pattern: ^[A-Za-z0-9][-A-Za-z0-9]{2,62}[A-Za-z0-9]$
        regionId:
          type: string
          description: The unique identifier of the region where the TiDB Cloud Premium instance is deployed, in the format of `{cloud_provider}-{region_code}`. For example, `aws-us-west-2`.
        cloudProvider:
          description: 'The cloud provider where the TiDB Cloud Premium instance is deployed.


            - `"aws"`: Amazon Web Services


            - `"gcp"`: Google Cloud


            - `"azure"`: Microsoft Azure


            - `"alicloud"`: Alibaba Cloud'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        regionDisplayName:
          type: string
          description: The display name of the region where the TiDB Cloud Premium instance is deployed. For example, `Oregon (us-west-2)`.
          readOnly: true
        state:
          description: The current state of the TiDB Cloud Premium instance.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta1ClusterState'
        rootPassword:
          type: string
          example: my-shining-password
          description: 'The root password of the TiDB Cloud Premium instance.


            This field supports two input formats:

            - Plaintext password (legacy behavior)

            - RSA-OAEP-SHA256 encrypted payload prefixed with `rsa_oaep_sha256:`


            If the marker prefix is present, the server parses and decrypts the encrypted payload.

            Any parse/decrypt failure returns an explicit parameter error without plaintext fallback.

            If the marker prefix is absent, the value is treated as plaintext for backward compatibility.


            For plaintext input, the password must be between 8 and 64 characters long and can contain letters,

            numbers, and special characters.'
          pattern: ^(rsa_oaep_sha256:.+|.{8,64})$
        minRcu:
          type: string
          format: int64
          description: 'The minimum number of Request Capacity Units (RCUs) for the TiDB Cloud Premium instance.


            This field is read-only and is automatically calculated as `max(5000, maxRcu / 4)`.'
          readOnly: true
        maxRcu:
          type: string
          format: int64
          description: The maximum number of Request Capacity Units (RCUs) for the TiDB Cloud Premium instance.
        servicePlan:
          description: 'The plan of the service.


            - `Premium`: [TiDB Cloud Premium](https://docs.pingcap.com/tidbcloud/select-cluster-tier/#tidb-cloud-premium)'
          allOf:
          - $ref: '#/components/schemas/v1beta1ServicePlan'
        highAvailabilityType:
          description: 'The high availability configuration for the TiDB Cloud Premium instance.

            - `REGIONAL`: high availability across multiple availability zones within a region. This is the only supported mode for TiDB Cloud Premium instances. For more information, see [Regional high availability architecture](https://docs.pingcap.com/tidbcloud/serverless-high-availability/#regional-high-availability-architecture).

            - `ZONAL`: high availability within a single availability zone. This mode is not supported for TiDB Cloud Premium instances and is reserved for other service plans. For more information, see [Zonal high availability architecture](https://docs.pingcap.com/tidbcloud/serverless-high-availability/#zonal-high-availability-architecture).'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/TidbHighAvailabilityType'
        annotations:
          type: object
          additionalProperties:
            type: string
          description: 'The annotations for the TiDB Cloud Premium instance. The following lists some predefined annotations:

            - `tidb.cloud/has-set-password`: indicates whether the TiDB Cloud Premium instance has a root password set.

            - `tidb.cloud/available-features`: lists available features of the TiDB Cloud Premium instance.'
        labels:
          type: object
          additionalProperties:
            type: string
          description: 'The labels for the TiDB Cloud Premium instance.

            - `tidb.cloud/organization`: the ID of the organization where the TiDB Cloud Premium instance belongs.

            - `tidb.cloud/project`: the ID of the project where the TiDB Cloud Premium instance belongs.'
        creator:
          type: string
          description: The email address or public API key of the user who created the TiDB Cloud Premium instance.
          readOnly: true
        createTime:
          type: string
          format: date-time
          description: The timestamp when the TiDB Cloud Premium instance was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        updateTime:
          type: string
          format: date-time
          description: The timestamp when the TiDB Cloud Premium instance was last updated, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        endpoints:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/TidbEndpoint'
          description: The connection endpoints for accessing the TiDB Cloud Premium instance.
          readOnly: true
        dualLayerDataEncryption:
          description: The dual-layer data encryption configuration for the TiDB Cloud Premium instance.
          allOf:
          - $ref: '#/components/schemas/TidbDualLayerDataEncryption'
        tidbVersion:
          type: string
          description: The version of the TiDB instance.
          readOnly: true
        tags:
          type: array
          items:
            type: string
        capacityUpdateTime:
          type: string
          format: date-time
          description: The timestamp when the capacity of the TiDB Cloud Premium instance was last updated, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
      required:
      - displayName
      - regionId
      - maxRcu
      - servicePlan
    TidbEndpoint:
      type: object
      properties:
        host:
          type: string
          description: 'The hostname of the endpoint.


            When `connectionType` is `"PRIVATE_ENDPOINT"`, the behavior of the `host` field varies by cloud provider:

            - For AWS, this field is available after the Private Link service is ready.

            - For Google Cloud and Azure, this field is available after you create a private endpoint connection.'
          readOnly: true
        port:
          type: integer
          format: int32
          description: The port number of the endpoint.
          readOnly: true
        connectionType:
          description: 'The connection type of the endpoint.


            - `PUBLIC`: a public endpoint. For more information, see [Network](https://docs.pingcap.com/tidbcloud/connect-to-tidb-instance/#network).


            - `PRIVATE_ENDPOINT`: a private endpoint. For more information, see [Network](https://docs.pingcap.com/tidbcloud/connect-to-tidb-instance/#network).


            - `VPC_PEERING`: a VPC peering endpoint (not yet supported, planned for a future release).'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/EndpointConnectionType'
        connectionReachability:
          description: The reachability status of the endpoint connection.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta2ConnectionReachability'
    v1beta2ConnectionReachability:
      type: object
      properties:
        reachable:
          type: boolean
          description: Indicates whether the endpoint is reachable.
          readOnly: true
        detail:
          description: The detailed reachability status of the endpoint connection.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/ConnectionReachabilityDetail'
    v1beta1ServicePlan:
      type: string
      enum:
      - Premium
    ConnectionReachabilityDetail:
      type: object
      properties:
        serviceActive:
          type: boolean
          description: Indicates whether the service is active.
          readOnly: true
        endpointActive:
          type: boolean
          description: Indicates whether the endpoint is active.
          readOnly: true
        dnsReachable:
          type: boolean
          description: Indicates whether the DNS is reachable.
          readOnly: true
        message:
          type: string
          description: A human-readable message that describes the reachability status.
          readOnly: true
    v1beta2ListTidbsResponse:
      type: object
      properties:
        tidbs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/nextgenv1beta2Tidb'
          description: A list of TiDB Cloud Premium instances that match the query.
        totalSize:
          type: integer
          format: int32
          description: The total number of TiDB Cloud Premium instances that match the query.
        nextPageToken:
          type: string
          description: The token to retrieve the next page of results. Use this value as the `pageToken` parameter in the next request. This field is empty when there are no more pages.
    CmekAccessIamPrincipalAliyunCmekPrincipal:
      type: object
      properties:
        accountId:
          type: string
          description: The Alibaba Cloud account ID of the CMEK principal.
          readOnly: true
    TidbServiceResetRootPasswordBody:
      type: object
      properties:
        rootPassword:
          type: string
          example: my-shining-password
          description: 'The new root password.


            This field supports two input formats:

            - Plaintext password (legacy behavior)

            - RSA-OAEP-SHA256 encrypted payload prefixed with `rsa_oaep_sha256:`


            If the marker prefix is present, the server parses and decrypts the encrypted payload.

            Any parse/decrypt failure returns an explicit parameter error without plaintext fallback.

            If the marker prefix is absent, the value is treated as plaintext for backward compatibility.


            For plaintext input, the password must be between 8 and 64 characters long.'
          pattern: ^(rsa_oaep_sha256:.+|.{8,64})$
      required:
      - rootPassword
    v1beta1ClusterState:
      type: string
      enum:
      - CREATING
      - DELETING
      - ACTIVE
      - RESTORING
      - MAINTENANCE
      - DELETED
      - INACTIVE
      - UPGRADING
      - IMPORTING
      - MODIFYING
      - PAUSING
      - PAUSED
      - RESUMING
      description: "The possible states of a TiDB Cloud Premium instance.\n\n - CREATING: The TiDB Cloud Premium instance is being created.\n - DELETING: The TiDB Cloud Premium instance is being deleted.\n - ACTIVE: The TiDB Cloud Premium instance is active for use.\n - RESTORING: Data for the TiDB Cloud Premium instance is being restored.\n - MAINTENANCE: The TiDB Cloud Premium instance is under maintenance.\n - DELETED: The TiDB Cloud Premium instance has been deleted.\n - INACTIVE: The TiDB Cloud Premium instance is not active, but is not being deleted.\n - UPGRADING: Cluster is being updated.\nOnly for Dedicated Cluster.\n - IMPORTING: Cluster is being imported.\nOnly for Dedicated Cluster.\n - MODIFYING: Cluster is being modified.\nOnly for Dedicated Cluster.\n - PAUSING: Cluster is being paused.\nOnly for Dedicated Cluster.\n - PAUSED: Cluster is paused.\nOnly for Dedicated Cluster.\n - RESUMING: Cluster is resuming.\nOnly for Dedicated Cluster."
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: A URL or resource name that uniquely identifies the type of the serialized protocol buffer message.
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    TidbDualLayerDataEncryption:
      type: object
      properties:
        noEncryption:
          type: object
          properties: {}
          description: Disables dual-layer data encryption. The TiDB Cloud Premium instance uses the default encryption provided by the cloud provider.
        defaultKey:
          type: object
          properties: {}
          description: Enables dual-layer data encryption using the TiDB Cloud default key.
        cmek:
          description: 'Enables dual-layer data encryption using a customer-managed encryption key (CMEK).

            Configure the key according to the cloud provider:

            - AWS: set `awsKms` and `awsPrincipal`.

            - Alibaba Cloud: set `aliyunKms` and `aliyunPrincipal`.'
          allOf:
          - $ref: '#/components/schemas/v1beta2CustomerManagedEncryptionKey'
      description: 'The dual-layer data encryption configuration for a TiDB Cloud Premium instance. Specify exactly one of the following options: `noEncryption`, `defaultKey`, or `cmek`.'
    v1beta2CloudProviderInfo:
      type: object
      properties:
        tidbId:
          type: string
          description: The ID of the TiDB Cloud Premium instance.
        cloudProvider:
          description: 'The cloud provider where the TiDB Cloud Premium instance is deployed.


            - `"aws"`: Amazon Web Services


            - `"gcp"`: Google Cloud


            - `"azure"`: Microsoft Azure


            - `"alicloud"`: Alibaba Cloud'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        tidbCloudAccountId:
          type: string
          description: The TiDB Cloud account ID for the underlying cloud infrastructure of the TiDB Cloud Premium instance.
          readOnly: true
        tidbCloudAccountExternalId:
          type: string
          description: The external ID of the TiDB Cloud account, which is used for assuming Identity and Access Management (IAM) roles for cross-account access.
          readOnly: true
        nodeRole:
          type: string
          description: 'The node role or identity used to grant storage access.

            For Azure, this is the kubelet identity object ID.'
          readOnly: true
      required:
      - tidbId
    v1beta2ResetRootPasswordResponse:
      type: object
    v1beta2CustomerManagedEncryptionKey:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the CMEK, in the format of `cmeks/{cmek_id}`.
          readOnly: true
        customerManagedEncryptionKeyId:
          type: string
          description: The ID of the CMEK.
          readOnly: true
        regionId:
          type: string
          description: The region where the CMEK is located, in the format of `{cloud_provider}-{region_code}`. For example, `aws-us-west-2`.
        cloudProvider:
          description: 'The cloud provider where the CMEK is located.


            - `"aws"`: Amazon Web Services


            - `"gcp"`: Google Cloud (not yet supported, planned for a future release)


            - `"azure"`: Microsoft Azure (not yet supported, planned for a future release)


            - `"alicloud"`: Alibaba Cloud'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        servicePlan:
          $ref: '#/components/schemas/v1beta1ServicePlan'
        awsKms:
          description: The configuration for AWS KMS.
          allOf:
          - $ref: '#/components/schemas/CustomerManagedEncryptionKeyAwsKms'
        aliyunKms:
          description: The configuration for Alibaba Cloud KMS.
          allOf:
          - $ref: '#/components/schemas/CustomerManagedEncryptionKeyAliyunKms'
        awsPrincipal:
          description: AWS IAM principal.
          allOf:
          - $ref: '#/components/schemas/CmekAccessIamPrincipalAwsCmekPrincipal'
        aliyunPrincipal:
          description: Alibaba Cloud RAM principal.
          allOf:
          - $ref: '#/components/schemas/CmekAccessIamPrincipalAliyunCmekPrincipal'
        createTime:
          type: string
          format: date-time
          description: The timestamp when the CMEK was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
      required:
      - regionId
      - servicePlan
    v1beta2CaCertificateDownloadUrl:
      type: object
      properties:
        uri:
          type: string
          description: The download URL for the CA certificate of the TiDB Cloud Premium instance.
          readOnly: true
    CustomerManagedEncryptionKeyAliyunKms:
      type: object
      properties:
        kmsKeyArn:
          type: string
          description: The Alibaba Cloud KMS key ID used for encryption. For example, `acs:kms:ap-southeast-1:5841052134823325:key/key-sgp68887a54phjt9703ut`.
      required:
      - kmsKeyArn
    TidbHighAvailabilityType:
      type: string
      enum:
      - REGIONAL
      - ZONAL
      description: "The high availability configuration for the TiDB Cloud Premium instance.\n\n - REGIONAL: High availability across multiple availability zones within a region.\n - ZONAL: High availability within a single availability zone."
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The error code returned with this error.
        message:
          type: string
          description: The error message returned with this error.
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
          description: A list of messages with additional error details.
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    EndpointConnectionType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE_ENDPOINT
      - VPC_PEERING
    CustomerManagedEncryptionKeyAwsKms:
      type: object
      properties:
        kmsKeyArn:
          type: string
          description: The Amazon Resource Name (ARN) of the AWS KMS key used for encryption.
      required:
      - kmsKeyArn
    RegionCloudProvider:
      type: string
      enum:
      - aws
      - gcp
      - azure
      - alicloud
      description: "Enum of cloud provider names.\n\n - aws: Amazon Web Services.\n - gcp: Google Cloud Platform.\n - azure: Microsoft Azure.\n - alicloud: Alibaba Cloud."
    CmekAccessIamPrincipalAwsCmekPrincipal:
      type: object
      properties:
        accountId:
          type: string
          description: The AWS account ID of the CMEK principal.
          readOnly: true
        externalId:
          type: string
          description: 'The AWS STS AssumeRole `ExternalId` that must be pinned in the KMS

            key policy''s `Condition` block when granting access to this principal.'
          readOnly: true
x-tagGroups:
- name: Endpoints
  tags:
  - TiDB Cloud Premium Instance
  - Backup
  - Region
  - Changefeed
