openapi: 3.2.0
info:
  title: TiDB Cloud Data Service OPEN OpenAPI Specification API
  description: '# Overview


    The TiDB Cloud Data Service API provides a RESTful interface for programmatically managing administrative objects within the TiDB Cloud Data Service.'
  version: v1beta1
servers:
- url: https://dataservice.tidbapi.com
tags:
- name: OpenAPI Specification
  description: Get the OpenAPI specification of a Data App.
paths:
  /v1beta1/dataApps/{dataAppId}/apiSpec:
    get:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/apiSpec'"
      summary: Get the OpenAPI Specification of a Data App
      description: TiDB Cloud Data Service supports generating the OpenAPI Specification 3.0 for each Data App, which enables you to interact with your endpoints in a standardized format. You can use this specification to generate standardized OpenAPI documentation, client SDKs, and server stubs.
      operationId: APISpecification_GetApiSpec
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ApiSpec'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      - name: format
        description: The format of the generated OpenAPI Specification.
        in: query
        required: false
        schema:
          type: string
          enum:
          - JSON
          - YAML
          default: JSON
      tags:
      - OpenAPI Specification
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1beta1ApiSpec:
      type: object
      properties:
        name:
          type: string
          description: The unique identifier for the OpenAPI Specification, which is generated by the API and follows the format `dataApps/{dataAppId}/apiSpec`.
        content:
          type: string
          description: The content of the OpenAPI Specification for the Data App.
      title: ApiSpec resource
x-tagGroups:
- name: Endpoints
  tags:
  - Data App
  - Data Source
  - Endpoint
  - Deployment
  - Data API Key
  - OpenAPI Specification
