openapi: 3.2.0
info:
  title: TiDB Cloud Data Service OPEN Deployment API
  description: '# Overview


    The TiDB Cloud Data Service API provides a RESTful interface for programmatically managing administrative objects within the TiDB Cloud Data Service.'
  version: v1beta1
servers:
- url: https://dataservice.tidbapi.com
tags:
- name: Deployment
  description: Create, get, and list deployments of a Data App.
paths:
  /v1beta1/dataApps/{dataAppId}/deployments:
    get:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n --request GET \\\n --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/deployments?pageSize=5'"
      summary: List all deployments for a Data App
      operationId: Deployment_ListDeployments
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListDeploymentsResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: The maximum number of items to return. If it is not set or set to `0`, the default value `100` will be used.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 100
          maximum: 100
          minimum: 1
      - name: pageToken
        description: The identifier of the current page, used to retrieve the next page of results. You can get this value from the `nextPageToken` field in the previous response. To access the first page of data, omit this field.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Deployment
    post:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/deployments' \\\n  --header 'Content-Type: application/json' \\\n  --data-raw '{\n    \"description\": \"Deploy a data app.\"\n  }'"
      summary: Create a deployment for a Data App
      operationId: Deployment_CreateDeployment
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Deployment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      tags:
      - Deployment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: The description of the deployment.
        description: Deployment
        required: true
  /v1beta1/dataApps/{dataAppId}/deployments/{deploymentId}:
    get:
      x-code-samples:
      - lang: Curl
        source: "curl --digest \\\n --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n --request GET \\\n --url 'https://dataservice.tidbapi.com/v1beta1/dataApps/{dataAppId}/deployments/{deploymentId}'"
      summary: Get a deployment by ID
      operationId: Deployment_GetDeployment
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1Deployment'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: dataAppId
        description: The ID of the Data App. You can get the ID from the response of [List all Data Apps in a project](#tag/Data-App/operation/DataApp_ListDataApps).
        in: path
        required: true
        schema:
          type: string
      - name: deploymentId
        description: The ID of the deployment, which is returned when you [Create a deployment](#tag/Deployment/operation/Deployment_CreateDeployment).
        in: path
        required: true
        schema:
          type: string
      tags:
      - Deployment
components:
  schemas:
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1beta1ListDeploymentsResponse:
      type: object
      properties:
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/v1beta1Deployment'
          description: The items of deployments in the Data App.
        nextPageToken:
          type: string
          description: The token to retrieve the next page of results.
      title: Response for ListDeployments
    v1beta1Deployment:
      type: object
      properties:
        deploymentId:
          type: string
          description: The ID of the deployment.
          readOnly: true
        name:
          type: string
          description: The unique identifier for the deployment, which is generated by the API and follows the format `dataApps/{dataAppId}/deployments/{deploymentId}`.
        description:
          type: string
          description: The description of the deployment.
        origin:
          type: string
          description: 'The source of the deployment:

            - `"UI"`: the deployment is submitted through this API or [TiDB Cloud console](https://tidbcloud.com)

            - `"GitHub"`: the deployment is [submitted through GitHub](https://docs.pingcap.com/tidbcloud/data-service-manage-github-connection)'
          readOnly: true
        originInfo:
          $ref: '#/components/schemas/DeploymentOriginInfo'
          description: If the `origin` is `"GitHub"`, this filed displays the corresponding commit information.
        createdBy:
          type: string
          description: The creator of the deployment.
          readOnly: true
        status:
          type: string
          description: 'The status of the deployment: `"success"` or `"failed"`.'
          readOnly: true
        statusErrorMessage:
          type: string
          description: If the deployment failed, this filed displays the error message.
          readOnly: true
        createdAt:
          type: string
          description: 'The timestamp when the deployment was created. The time format follows the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. For example: `"2023-06-03T06:52:08Z"`.'
          readOnly: true
        deployedAt:
          type: string
          description: 'The timestamp when the deployment was deployed. The time format follows the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. For example: `"2023-06-03T06:52:08Z"`.'
          readOnly: true
        finishedAt:
          type: string
          description: 'The timestamp when the deployment was finished. The time format follows the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) standard. For example: `"2023-06-03T06:52:08Z"`.'
          readOnly: true
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
      additionalProperties: {}
    DeploymentOriginInfo:
      type: object
      properties:
        commit:
          type: string
          description: The commit ID associated with the deployment.
          readOnly: true
        diffUrl:
          type: string
          description: The URL to view the diff of the changes in the commit.
          readOnly: true
      description: If the `origin` is `"GitHub"`, this filed displays the corresponding commit information.
x-tagGroups:
- name: Endpoints
  tags:
  - Data App
  - Data Source
  - Endpoint
  - Deployment
  - Data API Key
  - OpenAPI Specification
