openapi: 3.2.0
info:
  title: Pingcap Backup API
  x-refined-note:
  - x-logo differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Backup across 2 of this provider''s published API definitions: pingcap-tidb-cloud-v1beta-openapi-original.json, tidb-cloud-premium-v1beta2-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.tidbcloud.com
- url: https://cloud.tidbapi.com/v1beta2
tags:
- name: Backup
  description: 'Create, get, modify, and delete backups for TiDB clusters.


    For TiDB Cloud Starter instances, you cannot create or manage backups via API. You can use Dumpling to export your data as backups.'
paths:
  /api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups:
    get:
      summary: List all backups for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: ListBackUpOfCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the backup. It is generated by TiDB Cloud.
                        name:
                          type: string
                          example: backup-1
                          description: The name of the backup.
                        description:
                          type: string
                          example: backup for cluster upgrade in 2022/06/07
                          description: The description of the backup. It is specified by the user when taking a manual type backup. It helps you add additional information to the backup.
                        type:
                          example: MANUAL
                          description: The type of backup. TiDB Cloud only supports manual and auto backup. For more information, see [TiDB Cloud Documentation](https://docs.pingcap.com/tidbcloud/backup-and-restore#backup).
                          type: string
                          enum:
                          - MANUAL
                          - AUTO
                        create_timestamp:
                          type: string
                          format: date-time
                          example: '2020-01-01T00:00:00Z'
                          description: The creation time of the backup in UTC. The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.
                        size:
                          type: string
                          format: uint64
                          example: '102400'
                          description: The bytes of the backup.
                        status:
                          example: SUCCESS
                          description: The status of backup.
                          type: string
                          enum:
                          - PENDING
                          - RUNNING
                          - FAILED
                          - SUCCESS
                      description: The item of backup list.
                      title: ListBackupItem
                    description: The items of all backups.
                  total:
                    type: integer
                    format: int64
                    example: 10
                    description: The total number of backups in the project.
                description: The response for listing backups of a cluster.
                title: ListBackupOfClusterResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: page
        description: The number of pages.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: page_size
        description: The size of a page.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups?page=1&page_size=10'"
    post:
      summary: Create a backup for a cluster
      description: '- For TiDB Cloud Dedicated clusters, you can create as many manual backups as you need.

        - For TiDB Cloud Starter instances, you cannot create backups via API. You can use Dumpling to export your data as backups.'
      operationId: CreateBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the backup.
                description: This response for creating a MANUAL type backup.
                title: CreateBackupResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster that you want to take a manual backup. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"backup-1\",\"description\":\"backup-1\"}'"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: backup-1
                  description: Specify the name for a manual backup. It is recommended that you use a unique name, so that it is easy to distinguish the backup when you query the backups.
                description:
                  type:
                  - string
                  - 'null'
                  example: backup-1
                  description: The description of the backup. It helps you add additional information to the backup. Allows up to 256 characters.
              description: This request for creating a MANUAL type backup.
              title: CreateBackupReq
              required:
              - name
        required: true
    servers:
    - url: https://api.tidbcloud.com
  /api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}:
    get:
      summary: Get a backup for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: GetBackupOfCluster
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the backup.
                  name:
                    type: string
                    example: backup-1
                    description: The name of the backup.
                  description:
                    type: string
                    example: backup for cluster upgrade in 2022/06/07
                    description: The description of the backup. It is specified by the user when taking a manual type backup. It helps you add additional information to the backup.
                  type:
                    example: MANUAL
                    description: The type of backup. TiDB Cloud only supports manual and auto backup. For more information, see [TiDB Cloud Documentation](https://docs.pingcap.com/tidbcloud/backup-and-restore#backup).
                    type: string
                    enum:
                    - MANUAL
                    - AUTO
                  create_timestamp:
                    type: string
                    format: date-time
                    example: '2020-01-01T00:00:00Z'
                    description: The creation time of the backup in UTC. The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.
                  size:
                    type: string
                    format: uint64
                    example: '102400'
                    description: The bytes of the backup.
                  status:
                    example: SUCCESS
                    description: The status of backup.
                    type: string
                    enum:
                    - PENDING
                    - RUNNING
                    - FAILED
                    - SUCCESS
                description: This response for getting backup of a cluster.
                title: GetBackupOfClusterResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: backup_id
        description: The ID of the backup.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}"
    delete:
      summary: Delete a backup for a cluster
      description: For TiDB Cloud Starter instances, you cannot manage backups via API. You can use Dumpling to export your data as backups.
      operationId: DeleteBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: cluster_id
        description: The ID of your cluster. You can get the cluster ID from the response of [Get all clusters in a project](#tag/Cluster/operation/ListClustersOfProject).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: backup_id
        description: The ID of the backup. You can get the backup ID from the response of [List all backups for a cluster](#tag/Project/operation/ListBackUpOfCluster).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Backup
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request DELETE \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/clusters/{cluster_id}/backups/{backup_id}"
    servers:
    - url: https://api.tidbcloud.com
  /tidbs/{tidbId}/backups:
    get:
      summary: List backups for a TiDB Cloud Premium instance
      description: Lists all backups for a specific TiDB Cloud Premium instance. You can filter results by state, region, trigger type, or time range.
      operationId: TidbService_ListTidbBackups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2ListTidbBackupsResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance for which to list backups.
        in: path
        required: true
        schema:
          type: string
      - name: states
        description: "A list of backup states. If specified, only backups matching these states are returned.\n\n - UNKNOWN: The backup state is unknown.\n - PENDING: The backup is pending.\n - RUNNING: The backup is in progress.\n - SUCCEEDED: The backup completed successfully.\n - FAILED: The backup has failed.\n - CANCELLED: The backup is cancelled."
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - PENDING
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLED
      - name: regionIds
        description: A list of region IDs. If specified, only backups in these regions are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: triggerTypes
        description: "A list of backup trigger types. If specified, only backups matching these trigger types are returned.\n\n - AUTO: The backup is triggered automatically by TiDB Cloud.\n - MANUAL: The backup is triggered manually by a user."
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AUTO
            - MANUAL
      - name: startTime
        description: The inclusive start of the backup time range, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. If specified, only backups at or after this time are returned.
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endTime
        description: The inclusive end of the backup time range, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format. If specified, only backups at or before this time are returned.
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageSize
        description: The maximum number of backups to return. If not specified, at most 10 backups will be returned. The maximum value is `100`. Values greater than `100` are set to `100`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: '10'
      - name: pageToken
        description: 'The pagination token received from a previous [List backups for a TiDB Cloud Premium instance](#tag/Backup/operation/TidbService_ListTidbBackups) request. Use this token to retrieve the next page of results.


          **Note**: When paginating, all other parameters must match the original request.'
        in: query
        required: false
        schema:
          type: string
      - name: skip
        description: The number of backups to skip before returning results. If the value exceeds the total number of backups, the response is `200` with an empty list and no `nextPageToken`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}/backups'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    post:
      summary: Create a backup for a TiDB Cloud Premium instance
      description: Creates a manual backup for a specific TiDB Cloud Premium instance.
      operationId: TidbService_CreateTidbBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2CreateTidbBackupResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance for which to create a backup.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}/backups' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"name\": \"my-manual-backup\"\n}'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidbServiceCreateTidbBackupBody'
        description: The request for creating a manual backup.
        required: true
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
  /tidbs/{tidbId}/backups/{backupId}:
    delete:
      summary: Delete a backup for a TiDB Cloud Premium instance
      description: Deletes a backup by `backupId`.
      operationId: TidbService_DeleteTidbBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance.
        in: path
        required: true
        schema:
          type: string
      - name: backupId
        description: The ID of the backup to delete.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location --request DELETE ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}/backups/{backup_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
  /tidbs:restore:
    post:
      summary: Restore a TiDB Cloud Premium instance from a backup
      description: 'Restores a new TiDB Cloud Premium instance from a backup. Supported restore modes: `SNAPSHOT`, `PITR`, `DEDICATED_SNAPSHOT`, and `CLASSIC_SNAPSHOT`.'
      operationId: TidbService_RestoreTidb
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2RestoreTidbResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      tags:
      - Backup
      x-code-samples:
      - label: curl (SNAPSHOT)
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs:restore' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"tidb\": {\n    \"displayName\": \"my-restored-tidb\",\n    \"regionId\": \"aws-us-west-2\",\n    \"maxRcu\": 20000,\n    \"servicePlan\": \"Premium\"\n  },\n  \"sourceTidbId\": \"{source_tidb_id}\",\n  \"restoreMode\": \"SNAPSHOT\",\n  \"backupId\": \"{backup_id}\"\n}'"
      - label: curl (PITR)
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs:restore' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"tidb\": {\n    \"displayName\": \"my-restored-tidb\",\n    \"regionId\": \"aws-us-west-2\",\n    \"maxRcu\": 20000,\n    \"servicePlan\": \"Premium\"\n  },\n  \"sourceTidbId\": \"{source_tidb_id}\",\n  \"restoreMode\": \"PITR\",\n  \"pointInTime\": \"2023-10-01T12:00:00Z\"\n}'"
      - label: curl (DEDICATED_SNAPSHOT)
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs:restore' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"tidb\": {\n    \"displayName\": \"my-restored-tidb\",\n    \"regionId\": \"aws-us-west-2\",\n    \"maxRcu\": 20000,\n    \"servicePlan\": \"Premium\"\n  },\n  \"sourceTidbId\": \"{source_tidb_id}\",\n  \"restoreMode\": \"DEDICATED_SNAPSHOT\",\n  \"backupId\": \"{backup_id}\"\n}'"
      - label: curl (CLASSIC_SNAPSHOT)
        lang: curl
        source: "curl --location 'https://cloud.tidbapi.com/v1beta2/tidbs:restore' \\\n--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n--header 'Content-Type: application/json' \\\n--header 'Accept: application/json' \\\n--data '{\n  \"tidb\": {\n    \"displayName\": \"my-restored-tidb\",\n    \"regionId\": \"aws-us-west-2\",\n    \"maxRcu\": 20000,\n    \"servicePlan\": \"Premium\"\n  },\n  \"restoreMode\": \"CLASSIC_SNAPSHOT\",\n  \"classicBackupStorage\": {\n    \"cloudProvider\": \"aws\",\n    \"bucketUri\": \"s3://my-backup-bucket/tidb-backups/\",\n    \"auth\": {\n      \"accessKeyId\": \"REDACTED_AWS_ACCESS_KEY_ID\",\n      \"accessKeySecret\": \"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"\n    }\n  }\n}'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta2RestoreTidbRequest'
        required: true
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
  /tidbs/{tidbId}:getRestoreStatus:
    get:
      summary: Get the restore status for a TiDB Cloud Premium instance
      description: Retrieves the restore progress of a TiDB Cloud Premium instance, including the completion percentage and any error messages.
      operationId: TidbService_GetRestoreStatus
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2GetRestoreStatusResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbId
        description: The ID of the TiDB Cloud Premium instance.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/tidbs/{tidb_id}:getRestoreStatus'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
  /backups:
    get:
      summary: List backups
      description: Lists backups in your organization. You can filter results by TiDB Cloud Premium instance ID, backup state, service plan, region, TiDB Cloud Premium instance state, trigger type, or creation time.
      operationId: BackupService_ListBackups
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta2ListBackupsResponse'
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: tidbIds
        description: A list of TiDB Cloud Premium instance IDs. If specified, only backups that belong to these TiDB Cloud Premium instances are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: states
        description: "A list of backup states. If specified, only backups in these states are returned.\n\n - UNKNOWN: The backup state is unknown.\n - PENDING: The backup is pending.\n - RUNNING: The backup is in progress.\n - SUCCEEDED: The backup completed successfully.\n - FAILED: The backup has failed.\n - CANCELLED: The backup is cancelled."
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN
            - PENDING
            - RUNNING
            - SUCCEEDED
            - FAILED
            - CANCELLED
      - name: servicePlans
        description: A list of service plans. If specified, only backups that belong to these service plans are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - Premium
      - name: regionIds
        description: A list of region IDs. If specified, only backups in these regions are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: tidbStates
        description: A list of TiDB Cloud Premium instance states. If specified, only backups that belong to TiDB Cloud Premium instances in these states are returned.
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ACTIVE
            - DELETED
      - name: triggerTypes
        description: "A list of backup trigger types. If specified, only backups with these trigger types are returned.\n\n - AUTO: The backup is triggered automatically by TiDB Cloud.\n - MANUAL: The backup is triggered manually by a user."
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - AUTO
            - MANUAL
      - name: startTime
        description: The start time of the creation time range. If specified, only backups created after this time are returned.
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: endTime
        description: The end time of the creation time range. If specified, only backups created before this time are returned.
        in: query
        required: false
        schema:
          type: string
          format: date-time
      - name: pageSize
        description: The maximum number of backups to return. If not specified, at most 10 backups will be returned. The maximum value is `100`. Values greater than `100` are set to `100`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: '10'
      - name: pageToken
        description: 'The pagination token received from a previous [List backups](#tag/Backup/operation/BackupService_ListBackups) request. Use this token to retrieve the next page of results.


          **Note**: When paginating, all other parameters must match the original request.'
        in: query
        required: false
        schema:
          type: string
      - name: skip
        description: The number of backups to skip before returning results. If the value exceeds the total number of backups, the response is `200` with an empty list and no `nextPageToken`.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location ''https://cloud.tidbapi.com/v1beta2/backups'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
  /backups/{backupId}:
    delete:
      summary: Delete a backup
      description: Deletes a backup by `backupId`.
      operationId: BackupService_DeleteBackup
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '429':
          description: You have exceeded the rate limit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: backupId
        description: The ID of the backup to delete.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Backup
      x-code-samples:
      - label: curl
        lang: curl
        source: 'curl --location --request DELETE ''https://cloud.tidbapi.com/v1beta2/backups/{backup_id}'' \

          --digest --user ''YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY'' \

          --header ''Accept: application/json'''
    servers:
    - url: https://cloud.tidbapi.com/v1beta2
components:
  schemas:
    v1beta2BackupStorageAuth:
      type: object
      properties:
        accessKeyId:
          type: string
          description: The access key ID used to access the backup storage.
        accessKeySecret:
          type: string
          description: The access key secret used to access the backup storage.
      required:
      - accessKeyId
      - accessKeySecret
    v1beta1ServicePlan:
      type: string
      enum:
      - Premium
    v1beta2RestoreTidbResponse:
      type: object
      properties:
        tidb:
          description: The restored TiDB Cloud Premium instance.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/nextgenv1beta2Tidb'
    CmekAccessIamPrincipalAliyunCmekPrincipal:
      type: object
      properties:
        accountId:
          type: string
          description: The Alibaba Cloud account ID of the CMEK principal.
          readOnly: true
    EndpointConnectionType:
      type: string
      enum:
      - PUBLIC
      - PRIVATE_ENDPOINT
      - VPC_PEERING
    v1beta2BackupState:
      type: string
      enum:
      - UNKNOWN
      - PENDING
      - RUNNING
      - SUCCEEDED
      - FAILED
      - CANCELLED
      description: "The state of a backup.\n\n - UNKNOWN: The backup state is unknown.\n - PENDING: The backup is pending.\n - RUNNING: The backup is in progress.\n - SUCCEEDED: The backup completed successfully.\n - FAILED: The backup has failed.\n - CANCELLED: The backup is cancelled."
    CmekAccessIamPrincipalAwsCmekPrincipal:
      type: object
      properties:
        accountId:
          type: string
          description: The AWS account ID of the CMEK principal.
          readOnly: true
        externalId:
          type: string
          description: 'The AWS STS AssumeRole `ExternalId` that must be pinned in the KMS

            key policy''s `Condition` block when granting access to this principal.'
          readOnly: true
    v1beta2Backup:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the backup.
          readOnly: true
        tidbId:
          type: string
          description: The ID of the TiDB Cloud Premium instance to which the backup belongs.
          readOnly: true
        organizationId:
          type: string
          description: The ID of the organization to which the backup belongs.
          readOnly: true
        servicePlan:
          example: Premium
          description: The service plan of the backup. The possible value is `Premium`.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta1ServicePlan'
        displayName:
          type: string
          description: The name of the backup.
          readOnly: true
        description:
          type: string
          description: The description of the backup.
        createTime:
          type: string
          format: date-time
          description: The timestamp when the backup was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        sizeBytes:
          type: string
          format: int64
          description: The size of the backup in bytes.
          readOnly: true
        state:
          description: The current state of the backup.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta2BackupState'
        type:
          description: The type of the backup.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta2BackupType'
        triggerType:
          description: The trigger type of the backup.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/BackupTriggerType'
        expirationTime:
          type: string
          format: date-time
          description: The timestamp when the backup expires, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        backupTs:
          type: string
          description: The backup timestamp.
          readOnly: true
        regionId:
          type: string
          description: The ID of the region where the backup is stored.
          readOnly: true
        customerManaged:
          type: boolean
          description: 'Whether the source TiDB Cloud Premium instance used a customer-managed key at backup time. Interpret this field together with `encryptionKeyId`:


            - `encryptionKeyId` is `"0"`: The backup was not encrypted.

            - `encryptionKeyId` is not `"0"` and `customerManaged` is `false`: The backup used SMEK.

            - `encryptionKeyId` is not `"0"` and `customerManaged` is `true`: The backup used CMEK.'
          readOnly: true
        encryptionKeyId:
          type: string
          description: The encryption key ID of the source TiDB Cloud Premium instance at backup time. `"0"` means no encryption key was used.
          readOnly: true
    ConnectionReachabilityDetail:
      type: object
      properties:
        serviceActive:
          type: boolean
          description: Indicates whether the service is active.
          readOnly: true
        endpointActive:
          type: boolean
          description: Indicates whether the endpoint is active.
          readOnly: true
        dnsReachable:
          type: boolean
          description: Indicates whether the DNS is reachable.
          readOnly: true
        message:
          type: string
          description: A human-readable message that describes the reachability status.
          readOnly: true
    v1beta1ClusterState:
      type: string
      enum:
      - CREATING
      - DELETING
      - ACTIVE
      - RESTORING
      - MAINTENANCE
      - DELETED
      - INACTIVE
      - UPGRADING
      - IMPORTING
      - MODIFYING
      - PAUSING
      - PAUSED
      - RESUMING
      description: "The possible states of a TiDB Cloud Premium instance.\n\n - CREATING: The TiDB Cloud Premium instance is being created.\n - DELETING: The TiDB Cloud Premium instance is being deleted.\n - ACTIVE: The TiDB Cloud Premium instance is active for use.\n - RESTORING: Data for the TiDB Cloud Premium instance is being restored.\n - MAINTENANCE: The TiDB Cloud Premium instance is under maintenance.\n - DELETED: The TiDB Cloud Premium instance has been deleted.\n - INACTIVE: The TiDB Cloud Premium instance is not active, but is not being deleted.\n - UPGRADING: Cluster is being updated.\nOnly for Dedicated Cluster.\n - IMPORTING: Cluster is being imported.\nOnly for Dedicated Cluster.\n - MODIFYING: Cluster is being modified.\nOnly for Dedicated Cluster.\n - PAUSING: Cluster is being paused.\nOnly for Dedicated Cluster.\n - PAUSED: Cluster is paused.\nOnly for Dedicated Cluster.\n - RESUMING: Cluster is resuming.\nOnly for Dedicated Cluster."
    v1beta2GetRestoreStatusResponse:
      type: object
      properties:
        state:
          description: The current state of the restore operation.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta2RestoreState'
        message:
          type: string
          description: The detailed error message if the restore operation fails.
          readOnly: true
        progress:
          type: integer
          format: int32
          description: The restore progress percentage, from `0` to `100`.
          readOnly: true
    CustomerManagedEncryptionKeyAwsKms:
      type: object
      properties:
        kmsKeyArn:
          type: string
          description: The Amazon Resource Name (ARN) of the AWS KMS key used for encryption.
      required:
      - kmsKeyArn
    v1beta2BackupType:
      type: string
      enum:
      - SNAPSHOT
      description: "The type of a backup.\n\n - SNAPSHOT: A full snapshot backup."
    TidbHighAvailabilityType:
      type: string
      enum:
      - REGIONAL
      - ZONAL
      description: "The high availability configuration for the TiDB Cloud Premium instance.\n\n - REGIONAL: High availability across multiple availability zones within a region.\n - ZONAL: High availability within a single availability zone."
    v1beta2ClassicBackupStorage:
      type: object
      properties:
        cloudProvider:
          example: aws
          description: 'The cloud provider where the backup object storage is located.


            **Note**: Currently, only `"aws"` and `"alicloud"` are supported.'
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        regionId:
          type: string
          description: 'The region where the backup object storage is located, in the format of `{cloud_provider}-{region_code}`. For example, `alicloud-cn-shanghai`.


            This field is required when `cloud_provider` is `"alicloud"`.'
        bucketUri:
          type: string
          example: s3://my-backup-bucket/tidb-backups/
          description: 'The URI of the backup bucket.


            - For Amazon S3, use the format `s3://{bucket_name}/{path}`. For example, `s3://my-backup-bucket/tidb-backups/`.


            - For Alibaba Cloud OSS, use the format `oss://{bucket_name}/{path}`. For example, `oss://my-backup-bucket/tidb-backups/`.'
        auth:
          description: The authentication credentials for accessing the backup storage.
          allOf:
          - $ref: '#/components/schemas/v1beta2BackupStorageAuth'
      description: The storage configuration for a classic backup.
      required:
      - cloudProvider
      - bucketUri
      - auth
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: A URL or resource name that uniquely identifies the type of the serialized protocol buffer message.
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    nextgenv1beta2Tidb:
      type: object
      properties:
        name:
          type: string
          description: The unique identifier for the TiDB Cloud Premium instance, which is generated by the API and follows the format `tidbs/{tidbId}`.
          readOnly: true
        tidbId:
          type: string
          description: The ID of the TiDB Cloud Premium instance.
          readOnly: true
        displayName:
          type: string
          example: foo-bar
          description: The user-defined name of the TiDB Cloud Premium instance.
          maxLength: 64
          minLength: 4
          pattern: ^[A-Za-z0-9][-A-Za-z0-9]{2,62}[A-Za-z0-9]$
        regionId:
          type: string
          description: The unique identifier of the region where the TiDB Cloud Premium instance is deployed, in the format of `{cloud_provider}-{region_code}`. For example, `aws-us-west-2`.
        cloudProvider:
          description: 'The cloud provider where the TiDB Cloud Premium instance is deployed.


            - `"aws"`: Amazon Web Services


            - `"gcp"`: Google Cloud


            - `"azure"`: Microsoft Azure


            - `"alicloud"`: Alibaba Cloud'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        regionDisplayName:
          type: string
          description: The display name of the region where the TiDB Cloud Premium instance is deployed. For example, `Oregon (us-west-2)`.
          readOnly: true
        state:
          description: The current state of the TiDB Cloud Premium instance.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta1ClusterState'
        rootPassword:
          type: string
          example: my-shining-password
          description: 'The root password of the TiDB Cloud Premium instance.


            This field supports two input formats:

            - Plaintext password (legacy behavior)

            - RSA-OAEP-SHA256 encrypted payload prefixed with `rsa_oaep_sha256:`


            If the marker prefix is present, the server parses and decrypts the encrypted payload.

            Any parse/decrypt failure returns an explicit parameter error without plaintext fallback.

            If the marker prefix is absent, the value is treated as plaintext for backward compatibility.


            For plaintext input, the password must be between 8 and 64 characters long and can contain letters,

            numbers, and special characters.'
          pattern: ^(rsa_oaep_sha256:.+|.{8,64})$
        minRcu:
          type: string
          format: int64
          description: 'The minimum number of Request Capacity Units (RCUs) for the TiDB Cloud Premium instance.


            This field is read-only and is automatically calculated as `max(5000, maxRcu / 4)`.'
          readOnly: true
        maxRcu:
          type: string
          format: int64
          description: The maximum number of Request Capacity Units (RCUs) for the TiDB Cloud Premium instance.
        servicePlan:
          description: 'The plan of the service.


            - `Premium`: [TiDB Cloud Premium](https://docs.pingcap.com/tidbcloud/select-cluster-tier/#tidb-cloud-premium)'
          allOf:
          - $ref: '#/components/schemas/v1beta1ServicePlan'
        highAvailabilityType:
          description: 'The high availability configuration for the TiDB Cloud Premium instance.

            - `REGIONAL`: high availability across multiple availability zones within a region. This is the only supported mode for TiDB Cloud Premium instances. For more information, see [Regional high availability architecture](https://docs.pingcap.com/tidbcloud/serverless-high-availability/#regional-high-availability-architecture).

            - `ZONAL`: high availability within a single availability zone. This mode is not supported for TiDB Cloud Premium instances and is reserved for other service plans. For more information, see [Zonal high availability architecture](https://docs.pingcap.com/tidbcloud/serverless-high-availability/#zonal-high-availability-architecture).'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/TidbHighAvailabilityType'
        annotations:
          type: object
          additionalProperties:
            type: string
          description: 'The annotations for the TiDB Cloud Premium instance. The following lists some predefined annotations:

            - `tidb.cloud/has-set-password`: indicates whether the TiDB Cloud Premium instance has a root password set.

            - `tidb.cloud/available-features`: lists available features of the TiDB Cloud Premium instance.'
        labels:
          type: object
          additionalProperties:
            type: string
          description: 'The labels for the TiDB Cloud Premium instance.

            - `tidb.cloud/organization`: the ID of the organization where the TiDB Cloud Premium instance belongs.

            - `tidb.cloud/project`: the ID of the project where the TiDB Cloud Premium instance belongs.'
        creator:
          type: string
          description: The email address or public API key of the user who created the TiDB Cloud Premium instance.
          readOnly: true
        createTime:
          type: string
          format: date-time
          description: The timestamp when the TiDB Cloud Premium instance was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        updateTime:
          type: string
          format: date-time
          description: The timestamp when the TiDB Cloud Premium instance was last updated, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
        endpoints:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/TidbEndpoint'
          description: The connection endpoints for accessing the TiDB Cloud Premium instance.
          readOnly: true
        dualLayerDataEncryption:
          description: The dual-layer data encryption configuration for the TiDB Cloud Premium instance.
          allOf:
          - $ref: '#/components/schemas/TidbDualLayerDataEncryption'
        tidbVersion:
          type: string
          description: The version of the TiDB instance.
          readOnly: true
        tags:
          type: array
          items:
            type: string
        capacityUpdateTime:
          type: string
          format: date-time
          description: The timestamp when the capacity of the TiDB Cloud Premium instance was last updated, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
      required:
      - displayName
      - regionId
      - maxRcu
      - servicePlan
    v1beta2ListBackupsResponse:
      type: object
      properties:
        backups:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v1beta2Backup'
          description: A list of backups that match the query.
        totalSize:
          type: integer
          format: int32
          description: The total number of backups that match the query.
        nextPageToken:
          type: string
          description: The token to retrieve the next page of results. Use this value as the `pageToken` parameter in the next request. This field is empty when there are no more pages.
    TidbDualLayerDataEncryption:
      type: object
      properties:
        noEncryption:
          type: object
          properties: {}
          description: Disables dual-layer data encryption. The TiDB Cloud Premium instance uses the default encryption provided by the cloud provider.
        defaultKey:
          type: object
          properties: {}
          description: Enables dual-layer data encryption using the TiDB Cloud default key.
        cmek:
          description: 'Enables dual-layer data encryption using a customer-managed encryption key (CMEK).

            Configure the key according to the cloud provider:

            - AWS: set `awsKms` and `awsPrincipal`.

            - Alibaba Cloud: set `aliyunKms` and `aliyunPrincipal`.'
          allOf:
          - $ref: '#/components/schemas/v1beta2CustomerManagedEncryptionKey'
      description: 'The dual-layer data encryption configuration for a TiDB Cloud Premium instance. Specify exactly one of the following options: `noEncryption`, `defaultKey`, or `cmek`.'
    v1beta2CustomerManagedEncryptionKey:
      type: object
      properties:
        name:
          type: string
          description: The unique name of the CMEK, in the format of `cmeks/{cmek_id}`.
          readOnly: true
        customerManagedEncryptionKeyId:
          type: string
          description: The ID of the CMEK.
          readOnly: true
        regionId:
          type: string
          description: The region where the CMEK is located, in the format of `{cloud_provider}-{region_code}`. For example, `aws-us-west-2`.
        cloudProvider:
          description: 'The cloud provider where the CMEK is located.


            - `"aws"`: Amazon Web Services


            - `"gcp"`: Google Cloud (not yet supported, planned for a future release)


            - `"azure"`: Microsoft Azure (not yet supported, planned for a future release)


            - `"alicloud"`: Alibaba Cloud'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/RegionCloudProvider'
        servicePlan:
          $ref: '#/components/schemas/v1beta1ServicePlan'
        awsKms:
          description: The configuration for AWS KMS.
          allOf:
          - $ref: '#/components/schemas/CustomerManagedEncryptionKeyAwsKms'
        aliyunKms:
          description: The configuration for Alibaba Cloud KMS.
          allOf:
          - $ref: '#/components/schemas/CustomerManagedEncryptionKeyAliyunKms'
        awsPrincipal:
          description: AWS IAM principal.
          allOf:
          - $ref: '#/components/schemas/CmekAccessIamPrincipalAwsCmekPrincipal'
        aliyunPrincipal:
          description: Alibaba Cloud RAM principal.
          allOf:
          - $ref: '#/components/schemas/CmekAccessIamPrincipalAliyunCmekPrincipal'
        createTime:
          type: string
          format: date-time
          description: The timestamp when the CMEK was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
          readOnly: true
      required:
      - regionId
      - servicePlan
    v1beta2ConnectionReachability:
      type: object
      properties:
        reachable:
          type: boolean
          description: Indicates whether the endpoint is reachable.
          readOnly: true
        detail:
          description: The detailed reachability status of the endpoint connection.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/ConnectionReachabilityDetail'
    TidbServiceCreateTidbBackupBody:
      type: object
      properties:
        name:
          type: string
          description: The name of the manual backup.
      required:
      - name
    RegionCloudProvider:
      type: string
      enum:
      - aws
      - gcp
      - azure
      - alicloud
      description: "Enum of cloud provider names.\n\n - aws: Amazon Web Services.\n - gcp: Google Cloud Platform.\n - azure: Microsoft Azure.\n - alicloud: Alibaba Cloud."
    BackupTriggerType:
      type: string
      enum:
      - AUTO
      - MANUAL
      description: "The trigger type of a backup.\n\n - AUTO: The backup is triggered automatically by TiDB Cloud.\n - MANUAL: The backup is triggered manually by a user."
    v1beta2CreateTidbBackupResponse:
      type: object
      properties:
        backupId:
          type: string
          example: '1234567890'
          description: The ID of the created backup.
          readOnly: true
      required:
      - backupId
    v1beta2RestoreMode:
      type: string
      enum:
      - SNAPSHOT
      - PITR
      - DEDICATED_SNAPSHOT
      - CLASSIC_SNAPSHOT
      description: "The mode used to restore a TiDB Cloud Premium instance.\n\n - SNAPSHOT: Restores from native snapshot backup data of a TiDB Cloud Premium instance.\n - PITR: Restores from native point-in-time recovery (PITR) backup data of a TiDB Cloud Premium instance.\n - DEDICATED_SNAPSHOT: Restores from snapshot backup data of a TiDB Cloud Dedicated cluster.\n - CLASSIC_SNAPSHOT: Restores from snapshot backup data stored in object storage of a classic TiDB."
    v1beta2ListTidbBackupsResponse:
      type: object
      properties:
        backups:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v1beta2Backup'
          description: A list of backups that match the query.
        totalSize:
          type: integer
          format: int32
          description: The total number of backups that match the query.
        nextPageToken:
          type: string
          description: The token to retrieve the next page of results. Use this value as the `pageToken` parameter in the next request. This field is empty when there are no more pages.
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: The error code returned with this error.
        message:
          type: string
          description: The error message returned with this error.
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
          description: A list of messages with additional error details.
      description: 'The `Status` type defines a logical error model that is suitable for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    TidbEndpoint:
      type: object
      properties:
        host:
          type: string
          description: 'The hostname of the endpoint.


            When `connectionType` is `"PRIVATE_ENDPOINT"`, the behavior of the `host` field varies by cloud provider:

            - For AWS, this field is available after the Private Link service is ready.

            - For Google Cloud and Azure, this field is available after you create a private endpoint connection.'
          readOnly: true
        port:
          type: integer
          format: int32
          description: The port number of the endpoint.
          readOnly: true
        connectionType:
          description: 'The connection type of the endpoint.


            - `PUBLIC`: a public endpoint. For more information, see [Network](https://docs.pingcap.com/tidbcloud/connect-to-tidb-instance/#network).


            - `PRIVATE_ENDPOINT`: a private endpoint. For more information, see [Network](https://docs.pingcap.com/tidbcloud/connect-to-tidb-instance/#network).


            - `VPC_PEERING`: a VPC peering endpoint (not yet supported, planned for a future release).'
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/EndpointConnectionType'
        connectionReachability:
          description: The reachability status of the endpoint connection.
          readOnly: true
          allOf:
          - $ref: '#/components/schemas/v1beta2ConnectionReachability'
    v1beta2RestoreTidbRequest:
      type: object
      properties:
        tidb:
          description: 'The configuration of the TiDB Cloud Premium instance to create.


            **Note**: Currently, only TiDB Cloud Premium instances with `servicePlan` set to `Premium` are supported.'
          allOf:
          - $ref: '#/components/schemas/nextgenv1beta2Tidb'
        sourceTidbId:
          type: string
          description: The ID of the source TiDB Cloud Premium instance containing the backup data.
        restoreMode:
          $ref: '#/components/schemas/v1beta2RestoreMode'
        backupId:
          type: string
          description: 'The ID of the backup to restore from.


            This field is required when `restoreMode` is `"SNAPSHOT"` or `"DEDICATED_SNAPSHOT"`.'
        pointInTime:
          type: string
          format: date-time
          description: 'The point in time to restore data to, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.


            This field is required when `restoreMode` is `"PITR"`.'
        classicBackupStorage:
          description: 'The classic backup storage configuration.


            This field is required when `restoreMode` is `"CLASSIC_SNAPSHOT"`.'
          allOf:
          - $ref: '#/components/schemas/v1beta2ClassicBackupStorage'
        validateOnly:
          type: boolean
          description: If set to `true`, the request is validated but not executed. Defaults to `false`.
      required:
      - tidb
      - restoreMode
    v1beta2RestoreState:
      type: string
      enum:
      - UNKNOWN
      - PENDING
      - RUNNING
      - SUCCEEDED
      - FAILED
      - CANCELLED
      description: "The current state of the restore operation.\n\n - UNKNOWN: The state of the restore operation is unknown.\n - PENDING: The restore operation is pending.\n - RUNNING: The restore operation is in progress.\n - SUCCEEDED: The restore operation completed successfully.\n - FAILED: The restore operation has failed.\n - CANCELLED: The restore operation is cancelled."
    CustomerManagedEncryptionKeyAliyunKms:
      type: object
      properties:
        kmsKeyArn:
          type: string
          description: The Alibaba Cloud KMS key ID used for encryption. For example, `acs:kms:ap-southeast-1:5841052134823325:key/key-sgp68887a54phjt9703ut`.
      required:
      - kmsKeyArn
x-refined-from:
- pingcap-tidb-cloud-v1beta-openapi-original.json
- tidb-cloud-premium-v1beta2-openapi-original.json
