openapi: 3.2.0
info:
  title: TiDB Cloud Restore API
  description: '*TiDB Cloud API is in beta.*


    # Overview


    The TiDB Cloud API is a REST interface that provides you with programmatic access to manage administrative objects within TiDB Cloud.'
  version: v1-beta
  x-logo:
    url: https://download.pingcap.com/tidbcloud-logo-for-api-docs.png
    altText: TiDB Cloud Logo
    href: https://docs.pingcap.com/tidbcloud/
servers:
- url: https://api.tidbcloud.com
tags:
- name: Restore
  description: 'Get and create restore tasks for TiDB clusters. You can only restore data to a new cluster.


    For more information on restoration on TiDB Cloud, refer to Restore.


    For TiDB Cloud Starter instances, you cannot manage restore tasks via API.'
paths:
  /api/v1beta/projects/{project_id}/restores:
    get:
      summary: List the restore tasks in a project
      description: For TiDB Cloud Starter instances, you cannot create or manage restore tasks via API.
      operationId: ListRestoreTasks
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the restore task.
                        create_timestamp:
                          type: string
                          format: date-time
                          example: '2020-01-01T00:00:00Z'
                          description: 'The creation time of the backup in UTC.


                            The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.'
                        backup_id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the backup.
                        cluster_id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The cluster ID of the backup.
                        status:
                          example: PENDING
                          description: The status of the restore task.
                          type: string
                          enum:
                          - PENDING
                          - RUNNING
                          - FAILED
                          - SUCCESS
                        cluster:
                          description: The information of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                          type: object
                          properties:
                            id:
                              type: string
                              format: uint64
                              example: '1'
                              description: The ID of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                            name:
                              type: string
                              example: cluster-1
                              description: The name of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                            status:
                              type: string
                              example: AVAILABLE
                              description: The status of the restored cluster. Possible values are `"AVAILABLE"`, `"CREATING"`, `"MODIFYING"`, `"PAUSED"`, `"RESUMING"`, `"UNAVAILABLE"`, `"IMPORTING"`, and `"CLEARED"`.
                          title: ClusterInfoOfRestore
                        error_message:
                          type: string
                          example: Please contact support.
                          description: The error message of restore if failed.
                      description: The items of all restore tasks.
                      title: ListRestoreRespItem
                    description: The items of all restore tasks.
                  total:
                    type: integer
                    format: int64
                    example: 10
                    description: The total number of restore tasks in the project.
                description: This response for list restore.
                title: ListRestoreResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: page
        description: The number of pages.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: page_size
        description: The size of a page.
        in: query
        required: false
        schema:
          type: integer
          format: int32
          default: 10
      tags:
      - Restore
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://api.tidbcloud.com/api/v1beta/projects/{project_id}/restores?page=1&page_size=10'"
    post:
      summary: Create a restore task
      description: 'You can use this endpoint to restore data from a previously created backup file to a new cluster. In this endpoint, you must specify the configuration of the new cluster you want to restore data to.


        **Limitations:**


        - For TiDB Cloud Dedicated clusters, you can only restore data from a smaller node size to a larger node size.


        - You cannot restore data from a TiDB Cloud Dedicated cluster to a TiDB Cloud Starter instance.


        For TiDB Cloud Starter instances, you cannot create restore tasks via API.'
      operationId: CreateRestoreTask
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the restore task.
                  cluster_id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                description: CreateRestoreResp is the response for restoring backup to a new cluster.
                title: CreateRestoreResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of the project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Restore
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/restores \\\n  --header 'content-type: application/json' \\\n  --data '{\"backup_id\":\"1\",\"name\":\"Cluster0\",\"config\":{\"root_password\":\"password_example\",\"port\":4000,\"components\":{\"tidb\":{\"node_size\":\"8C16G\",\"node_quantity\":2},\"tikv\":{\"node_size\":\"8C32G\",\"storage_size_gib\":1024,\"node_quantity\":3}},\"ip_access_list\":[{\"cidr\":\"8.8.8.8/32\",\"description\":\"My Current IP Address\"}]}}'"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup_id:
                  type: string
                  format: uint64
                  example: '1'
                  description: The ID of the backup.
                name:
                  type: string
                  example: Cluster0
                  description: 'The name of the restored cluster. The restored cluster is the new cluster your backup data is restored to.


                    - The name must be 4-64 characters that only contain numbers, letters, and hyphens. The first and last character must be a letter or number.

                    - This must be different from the name of the existing cluster.'
                  pattern: ^[A-Za-z0-9][-A-Za-z0-9]{2,62}[A-Za-z0-9]$
                config:
                  description: The configuration of the cluster.
                  type: object
                  properties:
                    root_password:
                      type: string
                      example: password_example
                      description: The root password to access the cluster. It must be 8-64 characters.
                      maxLength: 64
                      minLength: 8
                    port:
                      type: integer
                      format: int32
                      example: 4000
                      default: 4000
                      description: 'The TiDB port for connection. The port must be in the range of 1024-65535 except 10080.


                        **Limitations**:

                        - For a TiDB Cloud Starter instance, only port `4000` is available.'
                      maximum: 65535
                      minimum: 1024
                    components:
                      example:
                        tidb:
                          node_size: 8C16G
                          node_quantity: 2
                        tikv:
                          node_size: 8C32G
                          storage_size_gib: 1024
                          node_quantity: 3
                      description: 'The components of the cluster.


                        **Limitations**:

                        - For a TiDB Cloud Dedicated cluster, the `components` parameter is **required**.

                        - For a TiDB Cloud Starter instance, the `components` value is **ignored**. Setting this configuration does not have any effects.'
                      type: object
                      properties:
                        tidb:
                          description: The TiDB component of the cluster.
                          type: object
                          properties:
                            node_size:
                              type: string
                              example: 8C16G
                              description: 'The size of the TiDB component in the cluster. You can get the available node size of each region from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).


                                **Additional combination rules**:

                                - If the vCPUs of TiDB or TiKV component is 4, then their vCPUs need to be the same.

                                - If the vCPUs of TiDB or TiKV component is 4, then the cluster does not support TiFlash.'
                            node_quantity:
                              type: integer
                              format: int32
                              example: 2
                              description: 'The number of nodes in the cluster. You can get the minimum and step of a node quantity from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).

                                '
                          required:
                          - node_size
                          - node_quantity
                        tikv:
                          description: The TiKV component of the cluster.
                          type: object
                          properties:
                            node_size:
                              type: string
                              example: 8C64G
                              description: 'The size of the TiKV component in the cluster. You can get the available node size of each region from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).


                                **Additional combination rules**:

                                - If the vCPUs of TiDB or TiKV component is 4, then their vCPUs need to be the same.

                                - If the vCPUs of TiDB or TiKV component is 4, then the cluster does not support TiFlash.'
                            storage_size_gib:
                              type: integer
                              format: int32
                              example: 1024
                              description: The storage size of a node in the cluster. You can get the minimum and maximum of storage size from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).
                            node_quantity:
                              type: integer
                              format: int32
                              example: 3
                              description: 'The number of nodes in the cluster. You can get the minimum and step of a node quantity from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).


                                **Limitations**:

                                - The `node_quantity` of TiKV must be a multiple of 3.'
                          required:
                          - node_size
                          - storage_size_gib
                          - node_quantity
                        tiflash:
                          description: The TiFlash component of the cluster.
                          type: object
                          properties:
                            node_size:
                              type: string
                              example: 8C64G
                              description: 'The size of the TiFlash component in the cluster. You can get the available node size of each region from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).


                                **Additional combination rules**:

                                - If the vCPUs of TiDB or TiKV component is 4, then their vCPUs need to be the same.

                                - If the vCPUs of TiDB or TiKV component is 4, then the cluster does not support TiFlash.'
                            storage_size_gib:
                              type: integer
                              format: int32
                              example: 1024
                              description: 'The storage size of a node in the cluster. You can get the minimum and maximum of storage size from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).

                                '
                            node_quantity:
                              type: integer
                              format: int32
                              example: 1
                              description: The number of nodes in the cluster. You can get the minimum and step of a node quantity from the response of [List the cloud providers, regions and available specifications](#tag/Cluster/operation/ListProviderRegions).
                          required:
                          - node_size
                          - storage_size_gib
                          - node_quantity
                      required:
                      - tidb
                      - tikv
                    ip_access_list:
                      type: array
                      items:
                        type: object
                        properties:
                          cidr:
                            type: string
                            example: 8.8.8.8/32
                            description: The IP address or CIDR range that you want to add to the cluster's IP access list.
                          description:
                            type: string
                            example: My Current IP Address
                            description: Description that explains the purpose of the entry.
                        required:
                        - cidr
                      description: A list of IP addresses and Classless Inter-Domain Routing (CIDR) addresses that are allowed to access the TiDB Cloud cluster via [standard connection](https://docs.pingcap.com/tidbcloud/connect-to-tidb-cluster#connect-via-standard-connection).
                  required:
                  - root_password
              description: CreateRestoreReq is the request for restoring backup to a new cluster.
              title: CreateRestoreReq
              required:
              - backup_id
              - name
              - cluster_spec
        required: true
  /api/v1beta/projects/{project_id}/restores/{restore_id}:
    get:
      summary: Get a restore task
      description: For TiDB Cloud Starter instances, you cannot manage restore tasks via API.
      operationId: GetRestoreTask
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the restore task.
                  create_timestamp:
                    type: string
                    format: date-time
                    example: '2020-01-01T00:00:00Z'
                    description: 'The creation time of the backup in UTC.


                      The time format follows the [ISO8601](http://en.wikipedia.org/wiki/ISO_8601) standard, which is `YYYY-MM-DD` (year-month-day) + T +`HH:MM:SS` (hour-minutes-seconds) + Z. For example, `2020-01-01T00:00:00Z`.'
                  backup_id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the backup.
                  cluster_id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The cluster ID of the backup.
                  status:
                    example: PENDING
                    description: The status of the restore task.
                    type: string
                    enum:
                    - PENDING
                    - RUNNING
                    - FAILED
                    - SUCCESS
                  cluster:
                    description: The information of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                    type: object
                    properties:
                      id:
                        type: string
                        format: uint64
                        example: '1'
                        description: The ID of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                      name:
                        type: string
                        example: cluster-1
                        description: The name of the restored cluster. The restored cluster is the new cluster your backup data is restored to.
                      status:
                        type: string
                        example: AVAILABLE
                        description: The status of the restored cluster. Possible values are `"AVAILABLE"`, `"CREATING"`, `"MODIFYING"`, `"PAUSED"`, `"RESUMING"`, `"UNAVAILABLE"`, `"IMPORTING"`, and `"CLEARED"`.
                    title: ClusterInfoOfRestore
                  error_message:
                    type: string
                    example: Please contact support.
                    description: The error message of restore if failed.
                description: The response for get restore.
                title: GetRestoreResp
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: project_id
        description: The ID of your project. You can get the project ID from the response of [List all accessible projects.](#tag/Project/operation/ListProjects).
        in: path
        required: true
        schema:
          type: string
          format: uint64
      - name: restore_id
        description: The ID of the restore task.
        in: path
        required: true
        schema:
          type: string
          format: uint64
      tags:
      - Restore
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url https://api.tidbcloud.com/api/v1beta/projects/{project_id}/restores/{restore_id}"
x-tagGroups:
- name: Endpoints
  tags:
  - Project
  - Cluster
  - Backup
  - Import
  - Restore
