openapi: 3.2.0
info:
  title: TiDB Cloud Project API
  description: '*TiDB Cloud API is in beta.*


    # Overview


    The TiDB Cloud API is a REST interface that provides you with programmatic access to manage administrative objects within TiDB Cloud.'
  version: v1-beta
  x-logo:
    url: https://download.pingcap.com/tidbcloud-logo-for-api-docs.png
    altText: TiDB Cloud Logo
    href: https://docs.pingcap.com/tidbcloud/
servers:
- url: https://api.tidbcloud.com
tags:
- name: Project
  description: List projects.
paths:
  /api/v1beta/projects:
    get:
      summary: List all accessible projects
      operationId: ListProjects
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the project.
                        org_id:
                          type: string
                          format: uint64
                          example: '1'
                          description: The ID of the TiDB Cloud organization to which the project belongs.
                        name:
                          type: string
                          example: default_project
                          description: The name of the project.
                        cluster_count:
                          type: integer
                          format: int64
                          example: 4
                          description: The number of TiDB Cloud clusters deployed in the project.
                        user_count:
                          type: integer
                          format: int64
                          example: 10
                          description: The number of users in the project.
                        create_timestamp:
                          type: string
                          format: timestamp
                          example: '1656991448'
                          description: The creation time of the cluster in Unix timestamp seconds (epoch time).
                        aws_cmek_enabled:
                          type: boolean
                          example: false
                          default: false
                          description: 'Flag that indicates whether to enable AWS Customer-Managed Encryption Keys (CMEK). For more information, see [Encryption at Rest using CMEK](https://docs.pingcap.com/tidbcloud/tidb-cloud-encrypt-cmek).


                            **Note:** Currently, this feature is only available upon request. If you need to try out this feature, contact [support](https://docs.pingcap.com/tidbcloud/tidb-cloud-support).'
                        type:
                          type: string
                          example: dedicated
                          description: 'The type of the project. For more information, see [Project Migration FAQ for TiDB X Instances](https://docs.pingcap.com/tidbcloud/tidbx-instance-move-faq/?plan=starter#what-project-types-are-available-in-tidb-cloud). Possible values are:

                            - `dedicated`: a project for TiDB Cloud Dedicated clusters.

                            - `tidbx`: a project for TiDB X instances.

                            - `tidbx_virtual`: a virtual project for TiDB X instances not grouped in any TiDB X project.'
                      description: ListProjectItem is the item of projects.
                      title: ListProjectItem
                    description: The items of accessible projects.
                  total:
                    type: integer
                    format: int64
                    example: 1
                    description: The total number of accessible projects.
                description: GetProjectsResp is the response for getting accessible projects.
                title: GetProjectsResp
                required:
                - total
                - items
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      parameters:
      - name: page
        description: The number of pages.
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 1
      - name: page_size
        description: The size of a page.
        in: query
        required: false
        schema:
          type: integer
          format: int64
          default: 10
      tags:
      - Project
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request GET \\\n  --url 'https://api.tidbcloud.com/api/v1beta/projects?page=1&page_size=10'"
    post:
      summary: Create a project
      operationId: CreateProject
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uint64
                    example: '1'
                    description: The ID of the project.
                description: CreateProjectResp is the response for creating project.
                title: CreateProjectResp
                required:
                - id
        '400':
          description: A request field is invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '401':
          description: The API key cannot be authenticated.
          content:
            application/json:
              schema: {}
        '403':
          description: The API key does not have permission to access the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '404':
          description: The requested resource does not exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '429':
          description: You have exceed the rate limit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        '500':
          description: Server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: integer
                    description: Error code returned with this error.
                    title: code
                  message:
                    type: string
                    description: Error message returned with this error.
                    title: message
                  details:
                    type: array
                    items:
                      type: string
                    description: Error details returned with this error.
                    title: details
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    format: int32
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        '@type':
                          type: string
                      additionalProperties: {}
      tags:
      - Project
      x-code-samples:
      - lang: curl
        source: "curl --digest \\\n  --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n  --request POST \\\n  --url https://api.tidbcloud.com/api/v1beta/projects \\\n  --header 'content-type: application/json' \\\n  --data '{\"name\":\"Project0\",\"aws_cmek_enabled\":false}'"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Project0
                  description: The name of the project.
                aws_cmek_enabled:
                  type:
                  - boolean
                  - 'null'
                  example: false
                  default: false
                  description: 'Flag that indicates whether to enable AWS Customer-Managed Encryption Keys.


                    Currently this feature is only available upon request. If you need to try out this feature, contact [support](https://docs.pingcap.com/tidbcloud/tidb-cloud-support).'
              description: CreateProjectReq is the request for creating project.
              title: CreateProjectReq
              required:
              - name
        description: CreateProjectReq is the request for creating project.
        required: true
x-tagGroups:
- name: Endpoints
  tags:
  - Project
  - Cluster
  - Backup
  - Import
  - Restore
